<@override name="title">
我的足迹
</@override>

<@override name="css">
<link href="${contextPath}/css/personal.css" rel="stylesheet" type="text/css">
<link href="${contextPath}/css/footstyle.css" rel="stylesheet" type="text/css">

</@override>
<@override name="body">
<b class="line"></b>
		<div class="center">
				<div class="col-main">
					<div class="main-wrap">

						<div class="user-foot">
						<!--标题 -->
								<div class="am-cf am-padding">
									<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">我的足迹</strong></div>
								</div>
								<hr/>
								<!--足迹列表 /今天-->
								<div id="tableFoot"></div>
								<div class="clear"></div>
									<!--一周以内-->
								<div id="oneWeekTable" ></div>
					</div>
				</div>
				<!--底部-->
				<#include "/common/includes/include.footer.html"/>
				</div>
				<!--左边菜单-->
				<#include "/personalCenter/common/include.menu.html"/>
		</div>


</@override>
<@override name="js">
<script>
	$(function(){
	   //默认加载
        selFootPrint()
	});

	//查询列表
	function  selFootPrint() {
	    var str={page:1,limit:5};
        //查询产品列表方法
        $.ajax({
            url : "selFootPrintOneWeek",
            type : "post",
            data:JSON.stringify(str),
            contentType: 'application/json; charset=UTF-8',
            dataType : "json",
            success : function(data) {
                $.each(data.data, function (i, v) {
                    //当天数据-当数据卫当日-则添加到列表
                    console.log("时间判断")
                    console.log("收藏时间"+longFormatDate(v.createTime))
                    console.log("今天时间"+newTimes())
					console.log(longFormatDate(v.createTime)==newTimes());
					if(longFormatDate(v.createTime)==newTimes()){
                        var toDays=liContentToDays(i,v);
					}else{
                        //一周以内
                        var oneWeedEver = liContent(i,v);
					}
                    $("#tableFoot").append(toDays);
                    $("#oneWeekTable").append(oneWeedEver);
                });
            }
        });
    }

    //动态加载数据
    function  liContent(v) {
		var footprintId=v.footprintId;
		var productName=v.productDto.productName;
		var productPrice=v.productDto.productPrice;
		var productImage=v.productDto.productUrl;
	function liContentToDays(i,v){
        var footprintId=v.footprintId;
        var createTime=v.createTime;
        var productName=v.productDto.productName;
        var productPrice=v.productStatisticsDto.productPrice;
        var productImage=v.productDto.productImage;
        var isUpper=v.productDto.isUpper;
        if(isUpper==1){ isUpper=""
        }else{ isUpper="宝贝已下架"; }
		//截取年月日
        var listTimes=createTime.split("-");
        var content = "";
        var ToDaystableHead;
        if(i==0){
            ToDaystableHead= "<div class='goods-date' data-date='"+createTime+"'>"
                +"<span><i class='month-lite'>"+listTimes[1]+"</i>.<i class='day-lite'>"+listTimes[2]+"</i><i class='date-desc'>今天</i></span>"
                +"<del class='am-icon-trash'></del>"
                +"<s class='line'></s>"
                +"</div>"
        }else{
            ToDaystableHead="<div class='goods-date' data-date='"+createTime+"'>"
                +"<s class='line'></s>"
                +"</div>"
        }

        var li = $("<div class='goods'>"
            +ToDaystableHead
            +"<div class='goods-box first-box'>"
            +"<div class='goods-pic'>"
            +"<div class='goods-pic-box'>"
            +"<a class='goods-pic-link' target='_blank' href='#' title='"+productName+"'>"
            +"<img src='"+productImage+"' class='goods-img'></a>"
            +"</div>"
            +"<a class='goods-delete' href='javascript:void(0);'  onclick='delFootPrint(\""+footprintId+"\")'><i class='am-icon-trash'></i></a>"
            +"<div class='goods-status goods-status-show'><span class='desc'>"+isUpper+"</span></div>"
            +"</div>"

            +"<div class='goods-attr'>"
            +"<div class='good-title'>"
            +"<a class='title' href='#' target='_blank'>"+productName+"</a>"
            +"</div>"
            +"<div class='goods-price'>"
            +"<span class='g_price'>"
            +"<span>¥</span><strong>"+productPrice+"</strong>"
            +"</span>"
            +"<span class='g_price g_price-original'>"
            +"<span>¥</span><strong>142</strong>"
            +"</span>"
            +"</div>"
            +"<div class='clear'></div>"
            +"<div class='goods-num'>"
            +"<div class='match-recom'>"
            +"<a href='#' class='match-recom-item'>找相似</a>"
            +"<a href='#' class='match-recom-item'>找搭配</a>"
            +"<i><em></em><span></span></i>"
            +"</div>"
            +"</div> </div></div></div>"
        );
        return li;

	}


    //动态加载数据
    function  liContent(i,v) {
	    console.log(v);
       	var prodts= v.productDto;
		var footprintId=v.footprintId;
		var createTime=v.createTime;
		var productName=prodts.productName;
		var productPrice=v.productStatisticsDto.productPrice;
		var productImage=prodts.productImage;
		var isUpper=prodts.isUpper;
		if(isUpper==1){
            isUpper=""
		}else{
            isUpper="宝贝已下架";
		}
        var content = "";
        //针对第一行数据表头
		var tableHead;
        if(i==0){
            tableHead= "<div class='goods-date' data-date='"+createTime+"'>"
                +"<span><i class='month-lite'></i><i class='day-lite'></i><i class='date-desc'>一周内</i></span>"
                +"<del class='am-icon-trash'></del>"
                +"<s class='line'></s>"
                +"</div>"
		}else{
            tableHead="<div class='goods-date' data-date='"+createTime+"'>"
                +"<s class='line'></s>"
                +"</div>"
		}
    	var li = $("<div class='goods'>"
				+tableHead
            +"<div class='goods-box first-box'>"
           	+"<div class='goods-pic'>"
            +"<div class='goods-pic-box'>"
            +"<a class='goods-pic-link' target='_blank' href='#' title='"+productName+"'>"
            +"<img src='"+productImage+"' class='goods-img'></a>"
            +"</div>"
            +"<a class='goods-delete' href='javascript:void(0);'  onclick='delFootPrint(\""+footprintId+"\")'><i class='am-icon-trash'></i></a>"
        +"<div class='goods-status goods-status-show'><span class='desc'>"+isUpper+"</span></div>"
        +"</div>"

        +"<div class='goods-attr'>"
           +"<div class='good-title'>"
            +"<a class='title' href='#' target='_blank'>"+productName+"</a>"
        +"</div>"
        +"<div class='goods-price'>"
            +"<span class='g_price'>"
            +"<span>¥</span><strong>"+productPrice+"</strong>"
        +"</span>"
        +"<span class='g_price g_price-original'>"
            +"<span>¥</span><strong>142</strong>"
        +"</span>"
        +"</div>"
        +"<div class='clear'></div>"
            +"<div class='goods-num'>"
            +"<div class='match-recom'>"
            +"<a href='#' class='match-recom-item'>找相似</a>"
            +"<a href='#' class='match-recom-item'>找搭配</a>"
            +"<i><em></em><span></span></i>"
        +"</div>"
        +"</div> </div></div></div>"
        );
	    return li;
    }

	//删除
    function delFootPrint(footprintId){
	    console.log("删除"+footprintId);
	    //唯一标识
	    var str = {footprintId:footprintId};
        $.ajax({
            url : "delFootPrintById",
            type : "post",
            data:JSON.stringify(str),
            contentType: 'application/json; charset=UTF-8',
            dataType : "json",
            success : function(data) {
                //操作完成
                console.log(data.message);
                alert("删除成功弹框");
            }
        });
	}

	// 获取当前时间
	function newTimes(){
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        if (month < 10) {
            month = "0" + month;
        }
        if (day < 10) {
            day = "0" + day;
        }
        var nowDate = year + month   + day;
        return nowDate;
	}

	//将LONG时间转为DATA
    function longFormatDate(longTypeDate) {
        var datetimeType = "";
        var date = new Date();
        date.setTime(longTypeDate);
        datetimeType+= date.getFullYear();   //年  
        datetimeType+=getMonth(date); //月   
        datetimeType+=getDay(date);   //日  
        return datetimeType;
    }
    //返回月   
    function getMonth(date){
        var month = "";
        month = date.getMonth() + 1;
        if(month<10){
            month = "0" + month;
        }
        return month;
    }
    //返回日 
    function getDay(date){
        var day = "";
        day = date.getDate();
        if(day<10){
            day = "0" + day;
        }
        return day;
    }
</script>
</@override>
<@extends name="/common/layout/base.personalCenter.html"/>