<@override name="title">
消息详情
</@override>

<@override name="css">


<style>

    .mesdetail{
        padding:50px 200px;
    }
    h3{
        text-align: center;
    }
    #search,.tog,.sear .sousuo{
        background: #fff;
    }

</style>
</@override>

<@override name="body">
<div id="purch-center" style="width: 100%;margin: 0 auto; overflow: hidden;">
    <div class="news_on" style="background: #fff;width: 1190px; margin: 0 auto;margin-top: 20px; min-height: 800px;">
        <ol class="am-breadcrumb" style="padding:20px;">
            <li><a href="#">首页</a></li>
            <li><a href="#">消息</a></li>
            <li class="am-active">消息详情</li>
        </ol>

        <div class="mesdetail">
            <#if id==1>
            <h3>极限敏感词的发布要求</h3>
            <p style="line-height: 26px">
                极限敏感词的发布要求的消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文.<br/>
                <br/>
                消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文。<br/>
                <br/>
                消息正文消息正文消息正文。
            </p>
            <p style="text-align: right;">2019-5-17</p>
            <#elseif id==2>
            <h3>发布产品为什么审核不通过</h3>
            <p style="line-height: 26px">
                发布产品为什么审核不通过的消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文.<br/>
                <br/>
                消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文。<br/>
                <br/>
                消息正文消息正文消息正文。
            </p>
            <p style="text-align: right;">2019-4-01</p>
            <#elseif id==3>
            <h3>重复信息处理规则</h3>
            <p style="line-height: 26px">
                重复信息处理规则的消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文.<br/>
                <br/>
                消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文。<br/>
                <br/>
                消息正文消息正文消息正文。
            </p>
            <p style="text-align: right;">2019-3-20</p>
            <#elseif id==4>
            <h3>批量添加产品操作指南</h3>
            <p style="line-height: 26px">
                批量添加产品操作指南的消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文.<br/>
                <br/>
                消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文消息正文。<br/>
                <br/>
                消息正文消息正文消息正文。
            </p>
            <p style="text-align: right;">2019-3-15</p>
            </#if>
        </div>


    </div>


</div>


</@override>


<@override name="js">


</@override>

<@extends name="/common/layout/base.personalCenter.html"/>