<@override name="title">
消息详情
</@override>

<@override name="css">


<style>

    .mesdetail{
        padding:50px 200px;
    }
    h3{
        text-align: center;
    }
    #search,.tog,.sear .sousuo{
        background: #fff;
    }

</style>
</@override>

<@override name="body">
<div id="purch-center" style="width: 100%;margin: 0 auto; overflow: hidden;">
    <div class="news_on" style="background: #fff;width: 1190px; margin: 0 auto;margin-top: 20px; min-height: 800px;">
        <ol class="am-breadcrumb" style="padding:20px;">
            <li><a href="/index">首页</a></li>
            <li><a href="#">消息</a></li>
            <li class="am-active">消息详情</li>
        </ol>

        <div class="mesdetail">
            <#if id==1>
            <h3>极限敏感词的发布要求</h3>
            <p style="line-height: 26px">
                1、国家级、世界级、最高级、最佳、第一、唯一、首个、最好、精确、顶级、最低、最底、最、最便宜、最大程度、最新技术、最先进科学、国家级产品、绝对、独家、首家、最新、最先进、第一品牌、金牌、名牌、最赚、超赚、最先、巨奢侈、至尊、顶级享受等绝对性用语(暂不导入“优秀、资深、著名、”);
                <br>
                2、繁体字、单独使用外国文字、或中英文结合用词;
                <br>
                3、驰名商标,商品已注册驰名商标等在各类宣传出使用“驰名商标”字样。
            </p>
            <p style="text-align: right;">2019-5-17</p>
            <#elseif id==2>
            <h3>发布产品为什么审核不通过</h3>
            <p style="line-height: 26px">
                1，因你的网速问题，没有提交成功；<br>
                2，重度重复信息，直接删除；<br>
                3，侵权信息，直接删除；<br>
                4，禁售信息，直接删除；<br>
                5，缺少相应的证明，审核不通过；<br>
                6，是不是信息设置成3天就过期了。
            </p>
            <p style="text-align: right;">2019-4-01</p>
            <#elseif id==3>
            <h3>重复信息处理规则</h3>
            <p style="line-height: 26px">
                1、仅产品价格、产量、产地、发货期、计量单位和供货总量存在差异，其他产品信息相同或重要产品属性、描述相同；<br>
                2、仅产品图片不同，其他产品信息相同或重要产品属性、描述相同；<br>
                3、仅在标题、关键词、属性、描述等中添加或堆砌非关键性字段（包括别名、修饰词、字母、符号等）、图片，其他产品信息相同或重要产品属性、描述相同；<br>
                4、仅对图片、标题、关键词、属性、描述中相应内容进行不同的排列组合，其他产品信息相同或重要产品属性、描述一致；<br>
                5、其他中国制造网内贸站定为重复信息的情形。
            </p>
            <p style="text-align: right;">2019-3-20</p>
            <#elseif id==4>
            <h3>添加产品操作指南</h3>
            <p style="line-height: 26px">
                1、打开卖家中心  点击新建商品类型按钮，进行添加属性类型，也可以选择添加属性分类添加属性分类；<br>
                2、点击属性列表进行编辑商品属性，选择想添加的商品属性类型进行添加商品属性；<br>
                3、属性录入方式为手工录入，可以直接在添加商品时候自定义商品属性；
            </p>
            <p style="text-align: right;">2019-3-15</p>
            </#if>
        </div>


    </div>


</div>


</@override>


<@override name="js">


</@override>

<@extends name="/common/layout/base.personalCenter.html"/>