<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>个人资料</title>

		<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="../css/personal.css" rel="stylesheet" type="text/css">
		<link href="../css/infstyle.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../css/header.css">
		<link rel="stylesheet" href="../css/iconfont.css">
		<link rel="stylesheet" href="../css/purch.css">
		<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="../AmazeUI-2.4.2/assets/js/amazeui.js"></script>			
	</head>

	<body>
		<!--头 -->
		  <div id="nav">
		<div class="nav_in">
			<div class="left">
			<p>欢迎您  &nbsp;请<a href="javascript">登录</a>  &nbsp;<a href="javascript">注册会员</a></p>
		</div>
		<div class="right">
			<p class="service">客服电话：400-xxx-xxxx</p>
			<div class="order">
				<a href="#">我的订单</a>
				<span class="icon icon1"></span>			
			</div>
			<div class="seller">
				<a href="#">卖家中心</a>
				<span class="icon icon1"></span>			
			</div>
			<div class="shopping">
				<a href="#">购物车</a>
				<a href="#">(0)</a>			
			</div>	
		</div>
		
		</div>
	</div>
		<div id="search">
		<div class="search_in">
			<div class="logo"></div>
			<div class="sear">
				<div class="tog">
					<div class="tog_in">
						<a href="#">产品</a>
						<i class="iconfont iconxialajiantou"></i>
						<ul>
							<li><a href="">产品</a></li>
							<li><a href="">店铺</a></li>
						</ul>
					</div>
					<input type="text" placeholder="布料" class="sousuo">
				</div>
				
				
				<button type="submit" class="cont"><a href="02 search.html">搜索</a></button>
				
			</div>
		</div>
	</div>
          <div id="contain">
			<div class="list">
				<div class="list_in">	
					<div class="list_up">
							<div class="title"><i class="iconfont iconhangyefenlei"></i>行业分类</div>
							<div class="header">
							<ul>
								<li class="cur"><a href="/">首页</a></li>
								<li><a href="">现货</a></li>
								<li><a href="">求购信息</a></li>
								<li><a href="">纺织咨询</a></li>
								<li><a href="">联系我们</a></li>
							</ul>
							</div>
					</div>
				</div>
			</div>
		</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-info">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg"><span id="titleName"></span></strong> / <small>Publish&nbsp;Purchase</small></div>
						</div>
						<hr/>

						<!--头像 -->
					

						<!--个人信息 --> 


						<div class="info-main">
							<form class="am-form am-form-horizontal">

								<div class="am-form-group">
									<label for="user-name2" class="am-form-label">求购标题</label>
									<div class="am-form-content">
										<input type="text" id="enquiryTitle" name="enquiryTitle"  placeholder="求购标题">
                                          <small>昵称长度不能超过40个汉字</small>
									</div>
								</div>

								<div class="am-form-group pur_height">
									<label for="user-name" class="am-form-label">编号</label>
									<div class="am-form-content">
											<input type="text" id="enquiryNumber" name="enquiryNumber" style="width: 168px;margin-left: 0px;" readonly="readonly" >
									</div>
								</div>
								<div class="am-form-group pur_height">
									<label for="user-name" class="am-form-label">发布时间</label>
									<div class="am-form-content">
										<p >
                                         <input id="createTime" name="createTime" value="2019-05-28"  readonly="readonly">
										</p>
									</div>
								</div>
						
								<div class="am-form-group pur_height">
									<label for="user-name" class="am-form-label">交付时间</label>
									<div class="am-form-content birth-select2">
										<input type="text" id="takeDate" name="takeDate" class="am-form-field am-selected" placeholder="日历组件" data-am-datepicker readonly required />
									</div>
								</div>
								<div class="am-form-group pur_height">
									<label for="user-name" class="am-form-label">求购状态</label>
									<div class="am-form-content">
										<p >
											<input  value="求购中"  readonly="readonly">
											<input id="enquiryStatus" name="enquiryStatus" value="1" style="display: none;">
										</p>
									</div>
								</div>
								<div>
								<div class="am-form-group am-form-group-height">
									<label for="user-name" class="am-form-label">求购图片</label>
									<div class="am-form-group am-form-file  up_pic center_top">
										<button type="button" class="am-btn am-btn-default am-btn-sm">
											<i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
										<input id="doc-form-file"type="file" multiple>
									</div>
									<div class="am-form-group pur_height">
										<label for="user-name" class="am-form-label">产品名称</label>
										<div class="am-form-content">
											<input type="text" id="productName" name="productName"  placeholder="请输入名称">
										</div>
									</div>

								</div>
								<div class="am-form-group pur_height">
											<label for="user-address" class="am-form-label">求购量</label>
											<div class="am-form-content address">
												<input type="text" class="pur_m" id="productNumber" name="productNumber" placeholder="请填写数量">
												<select data-am-selected id="productUnit" name="productUnit">
													<option value="a">米</option>
													<option value="b" selected>公斤</option>
												</select>
												
											</div>
										</div>
								</div>
								<div class="am-form-group pur_height">
									<label for="user-email" class="am-form-label">详细地址</label>
									<div class="am-form-content">
										<input  placeholder="如街道，门牌号等" type="text"  name="detailStreet" id="detailStreet">

									</div>
								</div>
								<div class="am-form-group pur_height">
									<label for="user-email" class="am-form-label">描述</label>
									<div class="am-form-content">
										<textarea class="disp" rows="5" id="enquiryRemark" name="enquiryRemark" placeholder="如格型、循环尺寸、成分、克重、门幅、色牢度、环保标准等等"></textarea>

									</div>
								</div>
								<div class="am-form-group address">
									<label for="user-address" class="am-form-label">详细地址</label>
									<div class="am-form-content address">
										<a href="address.html">
											<p class="new-mu_l2cw">
												<span class="province">湖北</span>省
												<span class="city">武汉</span>市
												<span class="dist">洪山</span>区
												<span class="street">雄楚大道666号(中南财经政法大学)</span>
												<span class="am-icon-angle-right"></span>
											</p>
										</a>

									</div>
								</div>
								<div class="am-form-group safety">
									<label for="user-safety" class="am-form-label">账号安全</label>
									<div class="am-form-content safety">
										<a href="safety.html">

											<span class="am-icon-angle-right"></span>

										</a>

									</div>
								</div>
								<div class="info-btn">
									<div class="am-btn am-btn-warning" id="save">保存</div>
								</div>

							</form>
						</div>

					</div>

				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-bd">
						<p>
							<em>Copyright 2015-2019 绍兴远恒互联网络科技有限公司 版权所有 浙ICP备19009440号</em>
						</p>
					</div>
				</div>
			</div>

			<aside class="menu">
				<ul>
					<li class="person active">
						<a href="01 index.html"><i class="am-icon-user"></i>个人中心</a>
					</li>
					<li class="person">
						<p><i class="am-icon-newspaper-o"></i>个人资料</p>
						<ul>
							<li> <a href="02 information.html">个人信息</a></li>
							<li> <a href="03 safety.html">安全设置</a></li>
							<li> <a href="04 address.html">地址管理</a></li>
							
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-balance-scale"></i>我的交易</p>
						<ul>
							<li><a href="05 order.html">订单管理</a></li>
							<li> <a href="06 change.html">退款售后</a></li>
							<li> <a href="07 comment.html">评价商品</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-dollar"></i>我的资产</p>
						<ul>
							
							<li> <a href="08 walletlist.html">账户余额</a></li>
							
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-credit-card-alt"></i>我的求购</p>
						<ul>
							<li> <a href="13 purchase.html">发布求购</a></li>
							<li> <a href="/personalCenter/toEnquiryManage">我的求购 </a></li>
							
						</ul>
					</li>
					
					<li class="person">
						<p><i class="am-icon-heart"></i>我的收藏</p>
						<ul>
							<li> <a href="09 collection.html">收藏</a></li>
							<li> <a href="10 foot.html">足迹</a></li>														
						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-qq"></i>在线客服</p>
						<ul>
							
							<li> <a href="11 suggest.html">意见反馈</a></li>							
							
							<li> <a href="12 news.html">我的消息</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-shopping-cart"></i><a href="15 carshot.html">购物车&nbsp;</a></p>
					</li>
				</ul>

			</aside>
		</div>

	</body>

</html>

<script>

    var formData;
    var file;
    //上传图片
    $('#doc-form-file').on('change', function () {
        file = this.files[0];
        var fileName = file.name;
        var fileType = fileName.substr(fileName.length - 4, fileName.length);
        if (fileType == '.jpg' || fileType == '.png') {
            formData = new FormData()
            formData.append("file", file);
        } else {
            alert('文件类型不正确');
        }
    });
$(function(){
    //获取单号
	var enquiryNum = "${enquiryNumber}";
    console.log("+++"+enquiryNum);
    //默认加载
        if (enquiryNum == "" ||enquiryNum ==null) {
            console.log("新增");
            // 新增
            $("#titleName").val("发布求购");
            //后台请求获取单号enquiryNumber
            $.ajax({
                url: "toAddPurchase",
                type: "get",
                success: function (data) {
                    //上传成功的处理\
                    $("#enquiryNumber").val(data);
                }
            });
        } else {
            //- 修改
            $("#titleName").innerHTML="修改求购";
            console.log("修改求购");
            //查询详情信息回显
            details(enquiryNum);
        }
    });

    $("#save").click(function (){
        console.log("点击保存");
        var enquiryTitle = $("#enquiryTitle").val();
        var createTime = $("#createTime").val();
        var takeDate = $("#takeDate").val();
        console.log(takeDate);
        var productNumber = $("#productNumber").val();
        var detailStreet=$("#detailStreet").val();

        var len = enquiryTitle.match(/[^ -~]/g) == null ? enquiryTitle.length : enquiryTitle.length + enquiryTitle.match(/[^ -~]/g).length;
        if(enquiryTitle==null|enquiryTitle==""){
            alert("请输入求购标题");
            return ;
        }else if(len>80){
            alert("求购标题不得超过40个汉字");
            return;
        }

        if ((new Date(takeDate.replace(/-/g,"\/"))) < (new Date(createTime.replace(/-/g,"\/")))){
            alert("交付时间必须大于发起求购时间");
            return;
        }else if(takeDate==""||takeDate==null){
            alert("请选择交付时间");
		}
        var re = /^[1-9]+[0-9]*]*$/;
        if(!re.test(productNumber)){
            alert("求购数量只能输入数字");
            return;
        }
        if (detailStreet==null || detailStreet==""){
            alert("请输入详细地址细心");
            return;
        }
        addSubmit();
    });
    //新增
    function addSubmit() {
        console.log("点击新增");
        formData = new FormData()
        formData.append("file", file);
        formData.append("enquiryTitle", $("#enquiryTitle").val());
        formData.append("enquiryNumber", $("#enquiryNumber").val());
        formData.append("createTime", $("#createTime").val());
        formData.append("takeDate", $("#takeDate").val());
        formData.append("enquiryStatus", $("#enquiryStatus").val());
        formData.append("productUnit", $("#productUnit").val());
        formData.append("province", $("#province").val());
        formData.append("city", $("#city").val());
        formData.append("county", $("#county").val());
        formData.append("detailStreet", $("#detailStreet").val());
        formData.append("enquiryRemark", $("#enquiryRemark").val());
        formData.append("productName", $("#productName").val());
        formData.append("productNumber",$("#productNumber").val());
        console.log(formData);
       $.ajax({
            url: "addEnquiry",
            type: "post",
		   	cache: false,
            data: formData,
            dataType: "json",
           processData: false,
           contentType: false,
            success: function (data) {
                //上传成功的处理
               if (data.success==true) {
                   alert(data.message);
                   window.location.href="/personalCenter/toPurchaseHtml?enquiryNumber=";
                } else {
                }
            }
        });
        //清空file
        /*var file = $("#chatImage") ;
        file.after(file.clone().val(""));
        file.remove();*/
    }

    //查询详情信息并-赋值表单
    function details(enquiryNumber){
        var str={enquiryNumber:enquiryNumber};
        $.ajax({
            url : "selEnquiryByNumber",
            type : "post",
            data:JSON.stringify(str),
            contentType: 'application/json; charset=UTF-8',
            dataType : "json",
            success : function(data) {
                console.log(data.enquiryTitle);
                $("#enquiryTitle").val(data.enquiryTitle);
                $("#enquiryNumber").val(data.enquiryNumber);
                $("#createTime").val(data.createTime);
                $("#takeDate").val(data.takeDate);
                $("#enquiryStatus").val(data.enquiryStatus);
                $.each(data.enquiryProductDto, function (i, v) {
                    //需要循环插入产品
                    //var whatever = liContent(v);


                    $("#productImage").val(v.productImage);
                    $("#enquiryTitle").val(v.productNumber);
                    $("#productUnit").val(v.productUnit);
                });

                //地址需要分拆

                $("#enquiryRemark").val(data.enquiryRemark);

            }
        });
    }

</script>