<@override name="title">
个人资料
</@override>

<@override name="css">

<link href="../css/infstyle.css" rel="stylesheet" type="text/css">

</@override>

<@override name="body">
<div class="center">

    <div class="col-main">
        <div class="main-wrap">
            <!--标题 -->
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">意见反馈</strong></div>
            </div>
            <hr/>
            <div class="suggestmain">
                <p>请留下您的宝贵意见：</p>
                <div class="suggestlist">
                    <select data-am-selected id="typeQuestion">
                        <option value="a" selected>请选择意见类型</option>
                        <option value="b">产品问题</option>
                        <option value="c">促销问题</option>
                        <option value="d">支付问题</option>
                        <option value="e">退款问题</option>
                        <option value="f">配送问题</option>
                        <option value="g">售后问题</option>
                        <option value="h">发票问题</option>
                        <option value="o">退换货</option>
                        <option value="m">其他</option>
                    </select>
                </div>
                <form id="form" action="/personalCenter/saveSuggest" method="post">
                    <div class="suggestDetail">
                        <p>描述问题：</p>
                        <blockquote class="textArea">
                            <textarea onpropertychange="checkLength(this)"  oninput="checkLength(this)"  name="sugContent" id="say_some" cols="60" rows="5" autocomplete="off" placeholder="在此描述您的意见具体内容"></textarea>
                            <div class="fontTip"><i class="cur" id="used">0</i> / <i id="total">200</i></div>
                        </blockquote>
                    </div>
                    <div class="am-btn am-btn-danger anniu submitButton">提交</div>
                    <p class="suggestTel"><i class="am-icon-phone"></i>客服电话：400-007-1234</p>
                </form>
            </div>
        </div>

    </div>
<!--左边菜单-->
<#include "/personalCenter/common/include.menu.html"/>
</div>
</@override>
<@override name="js">
<script src="${contextPath}/js/jquery.form.js"></script>
<script type="text/javascript">

    function checkLength(obj){
        var count=0;
        var inputContent = obj.value;
        var total = document.getElementById("total").innerHTML;
        var used = document.getElementById("used");
        var inputLen = inputContent.length;
        var lastLen = 0;
        if(lastLen != inputLen){
            for(var i=0;i<inputLen;i++){
                count = (inputContent.charCodeAt(i)<=256)?(count+1):(count+2);
                if(count > total){
                    obj.value = inputContent.substring(0,i);
                    count = total;
                    break;
                }
            }
            used.innerHTML = count;
            lastLen = inputLen;
        }
    }

    $(".submitButton").bind("click",function () {
        //验证意见类型
        var key1 = document.getElementById("typeQuestion");
        var value1 = key1.options[key1.selectedIndex].value;
        console.log(value1);
        if(value1=="a"){
            alert("请选择意见类型");
            return ;
        }
        var texts = $("#say_some").val();
        if(texts==null || texts==""){
            alert("请输入意见内容");
            return ;
        }
        var form = $("#form");
        var options = {
            url: '/personalCenter/saveSuggest',
            type: 'post',
            success: function (data) {
                if(data.success){
                    alert("意见已反馈");
                    window.location.href='/personalCenter/toPersonalCenter';
                }else {
                    alert(data.message);
                }
            }
        };
        form.ajaxSubmit(options);
    })

</script>
</@override>
<@extends name="/common/layout/base.personalCenter.html"/>