<div id="nav_seller">
	<div class="nav_in">
		<div class="left">
			<p>欢迎您  &nbsp;请<a href="javascript" style="color:#F58022 ">登录</a>  &nbsp;<a href="javascript" style="color:#F58022 ">注册会员</a></p>
		</div>
		<div class="right">
			<div><a href="#">公司首页</a></div>
			<div class="service"><a href="#">客服电话：400-xxx-xxxx</a></div>
			<div class="order">
				<a href="#">我的订单</a>
				<span class="icon icon1"></span>
			</div>
			<div class="seller">
				<a href="#">卖家中心</a>
				<span class="icon icon1"></span>
			</div>
			<div class="shopping">
				<a href="#">购物车</a>
				<a href="#">(0)</a>
			</div>
		</div>

	</div>
</div>