<@override name="title">
订单管理
</@override>

<@override name="css">
<style>

</style>
</@override>
<@override name="body">
<div class="layui-form">
    <div style="padding-bottom: 20px">
        <h5>搜索条件</h5>
    </div>
    <div class="demoTable" style="padding-top: 0px">
        <form class="layui-form ">
            <div class="layui-form-item">
                <label class="layui-form-label">订单号</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="orderNumber" id="orderNumber" autocomplete="off">
                </div>
                <label class="layui-form-label">店铺</label>
                <div class="layui-input-inline">
                    <select name="shopId" id="shopId">
                        <option value=""></option>
                    </select>
                </div>
                <label class="layui-form-label">订单状态</label>
                <div class="layui-input-inline">
                    <select name="orderStatus" id="orderStatus">
                        <option value="">请选择</option>
                        <#list orderStatusMap?keys as key>
                        <option value="${key}">${orderStatusMap[key]}</option>
                    </#list>
                    </select>
                </div>
                <label class="layui-form-label">订单类型</label>
                <div class="layui-input-inline">
                    <select name="orderType" id="orderType">
                        <option value="1">广交会</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="demoTable" style="padding-top: 0px">
        <div class="layui-form-item">
            <label class="layui-form-label">下单时间从</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="beginDate" id="beginDate" placeholder="">
            </div>
            <label class="layui-form-label">到</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="endDate" id="endDate" placeholder="">
            </div>
            <label class="layui-form-label"></label>
            <button class="layui-btn" data-type="reload" name="searchBtn">搜索</button>
        </div>
    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <div align="left" class="layui-btn-container">
        <button id="addTable" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add">添加订单</button>
    </div>
</script>
<div style="padding-top: 20px">
    <h5>订单管理</h5>
</div>
<table class="layui-hide" id="list" lay-filter="list"></table>

</@override>

<@override name="js">
<script type="text/javascript">

    function initSelect(form) {
        $.ajax({
            url: '/admin/commonPullDown/getShopIdAndName',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data, function (index, item) {
                    $("#shopId").append(new Option(item.shopName, item.shopId));// 下拉菜单里添加元素
                });
                form.render("select");
            }
        });
    }

    var orderType = $('#orderType').val();
    layui.use(['table', 'laydate', 'table'], function () {

        var laydate = layui.laydate;
        //常规用法
        laydate.render({
            elem: '#beginDate'
        });
        laydate.render({
            elem: '#endDate'
        });

        var form = layui.form;
        initSelect(form);
        var table = layui.table;

        table.render({
            elem: '#list'
            , toolbar: '#toolbarDemo'
            , id: "list"
            , url: 'getList'
            , title: '订单记录表'
            , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                , groups: 1 //只显示 1 个连续页码
                , first: false //不显示首页
                , last: false //不显示尾页
            }
            , where: {
                orderType: orderType
            }
            , cols: [[
                {type: 'numbers'}
                , {field: 'orderNumber', title: '订单号', }
                , {field: 'loginName', title: '用户名', }
                , {field: 'shopName', title: '店铺名称', }
                , {field: 'sumPrice', title: '订单金额', }
                , {field: 'actualPrice', title: '实际金额', }
                , {field: 'frontPrice', title: '定金', }
                , {
                    field: 'orderShopStatus', title: '订单状态', templet: function (e) {
                        switch (e.orderShopStatus) {
                            case 1:
                                return "待付款";
                                break;
                            case 2:
                                return "待发货";
                                break;
                            case 3:
                                return "待收货";
                                break;
                            case 4:
                                return "完成";
                                break;
                            case 5:
                                return "取消";
                                break;
                            case 6:
                                return "退货中";
                                break;
                            case 7:
                                return "退款中";
                                break;
                            case 8:
                                return "拒绝退货";
                                break;
                        }
                    }
                }
                , {field: 'createTimeString', title: '订单时间'}
                , {
                    field: 'button', title: '操作',
                    templet: function (e) {
                        var html = '<a class="layui-btn layui-btn-container layui-btn-xs " lay-event="addRowTable">+</a>';
                        html += '<a class="layui-btn layui-btn-container layui-btn-xs " onclick="delOrder(' + e.orderNumber + ')">删除</a>';
                        return html;
                    }
                }
            ]]
        });

        //重载表格
        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('list', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        orderNumber: $('#orderNumber').val()
                        , orderStatus: $('#orderStatus').val()
                        , orderType: $('#orderType').val()
                        , shopId: $('#shopId').val()
                        , beginDate: $('#beginDate').val()
                        , endDate: $('#endDate').val()
                    }
                });
            }
        };

        table.on('toolbar(list)', function (obj) {
            if (obj.event === 'add') {
                // 跳新页面
                layer.open({
                    type: 2,
                    area: ["80%", "80%"],
                    title: "产品添加",
                    shadeClose: true,
                    content: "addOrder",
                })
            }
        });

        $('[name=searchBtn]').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        table.on('tool(list)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            var $this = $(this);
            var tr = $this.parents('tr');
            var trIndex = tr.data('index');
            if (layEvent == "addRowTable") {
                $(this).attr('lay-event', 'fold').html('-');
                var tableId = 'tableOut_tableIn_' + trIndex;
                var _html = [
                    '<tr class="table-item">',
                    '<td colspan="' + tr.find('td').length + '" style="padding: 6px 12px;">',
                    '<table id="' + tableId + '"></table>',
                    '</td>',
                    '</tr>'
                ];
                tr.after(_html.join('\n'));
                // 渲染table
                table.render({
                    elem: '#' + tableId,
                    data: data.orderProducts || [],
                    cols: [[
                        {field: 'productName', title: '商品名称', },
                        {field: 'productNumber', title: '商品数量', },
                        {field: 'productUnit', title: '商品单位', },
                        {field: 'productPrice', title: '商品价格', },
                        {field: 'productSpec', title: '商品规格', },
                        {field: 'productColor', title: '商品颜色', }
                    ]]
                })
            } else if (layEvent === 'fold') {
                $(this).attr('lay-event', 'addRowTable').html('+');
                tr.next().remove();
            }
        })
    })

    function delOrder(value) {
        $.ajax({
            url: '/admin/order/delOrder',
            dataType: 'json',
            type: 'get',
            data: {orderNumber: value},
            success: function (data) {

            }
        });
    }

</script>
</@override>

<@extends name="/common/layout/base.html"/>