<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">

            <li class="layui-nav-item">
                <a class="" href="/index">首页</a>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">用户管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/user/toList">用户列表</a></dd>
                    <!--<dd><a href="/admin/User/buyer">买家列表</a></dd>-->
                    <!--<dd><a href="/admin/User/seller">卖家列表</a></dd>-->
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">新闻管理</a>
                <dl class="layui-nav-child">
                    <dd><a class="" href="/admin/news/toList">新闻资讯</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">店铺管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/shop/toList">店铺列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">分类管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/assort/toList">分类表信息</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">产品管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/productManage/initPage">产品列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">订单管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/order/toList">订单管理</a></dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/order/toAddOrderList">订单录入</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">信息记录</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/message/toList">短信记录</a></dd>
                    <dd><a href="/admin/banner/addPicture">轮播图上传</a></dd>
                    <dd><a href="/admin/suggest/toList">反馈记录</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">字典管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/dictionary/toList">字典管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">菜单管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/roleModule/toList">菜单栏</a></dd>
                    <dd><a href="/admin/roleModule/toRoleList">角色管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">询盘管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/enquiry/toList">询盘列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">推送管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/push/toPush">新增推送</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>