<@override name="title">
新增推送
</@override>

<@override name="css">
<style>

</style>
</@override>
<@override name="body">

<form style="margin-left: 20%;margin-top: 30px">
    <div class="layui-form" >
        <div class="layui-form-item">
            <!--<div class="layui-inline">
                <label class="layui-form-label">作者</label>
                <div class="layui-input-inline">
                    <input type="text" name="news_author" id="news_author" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>-->
            <div class="layui-input-block">
                <textarea  id="pushContent" name="pushContent" style="width: 800px;height: 250px;">此处推送内容###</textarea>
            </div>

        </div>
        <div class="layui-form-item">
            <!--<div class="layui-inline">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-inline">
                    <input type="tel" name="news_title" id="news_title" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>-->
            <div class="layui-inline">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select name="news_origin" id="news_origin" lay-verify="required" autocomplete="off" class="layui-input">
                        <option value="0">请选择</option>
                        <option value="1">e广通头条</option>
                        <option value="2">行业资讯</option>
                        <option value="3">政府要闻</option>
                        <option value="4">热点精选</option>
                        <option value="5">图片资讯</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit type="button" onclick="submitForm()">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</form>
</@override>

<@override name="js">
<script>
    /*var indexs;
    //建立编辑器
    var layedit;
    layui.use('layedit', function(){
        layedit = layui.layedit
            ,$ = layui.jquery

        layedit.set({
            uploadImage:{
                url: 'addNewsImg'
                ,type:'post'
            },
        })
        //设置自定义工具栏
        indexs = layedit.build('newsContent',
            {
                height: 180 ,//设置文本域高度
                tool: ['left', 'center', 'right', '|', 'face','image','strong','italic','del','help'],//设置文本工具
            });
        /!*indexs = layedit.build('sugContent');//建立编辑器*!/

        layedit.sync(indexs);

    });*/

    layui.use('table', function(){
        var table = layui.table;
    });

    function submitForm(){
        /*var myContent = layedit.getContent(indexs);
       /!* var picture=myContent.match(/src="(\S*)" alt=/)[1];*!/
        myContent = myContent.replace(/\"/g,"'");//将字符串中""全部替换成''*/
        var data = {
            pushContent:$('#pushContent').val(),
            pushType:$('#news_origin').val()
        }
        $.ajax({
            url: "/admin/push/addPush",
            data:  JSON.stringify(data),
            type: "post",
            contentType: "application/json",
            // beforeSend: function (XMLHttpRequest) {
            //     XMLHttpRequest.setRequestHeader("Authorization", getCookie("token"));
            // },
            success: function (data) {
                if(data.code == 0){
                    layer.open({
                        type: 1
                        ,area:["20%","40%"]
                        ,content:'<div>'+ data.msg +'</div>'
                        ,btn: '关闭全部'
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0 //不显示遮罩
                        ,yes: function(){
                            layer.closeAll();
                            window.location.href = '/admin/push/toPush' ;
                        }
                    });
                }else{
                    alert(data.msg);
                }
            }
        });
        return false ;
    }
</script>
</@override>

<@extends name="/common/layout/base.new.html"/>