<@override name="title">
询盘详情
</@override>

<@override name="css">
<style>
    .refuse{
        display: none;
    }
    .refuseClike{
        display: block;
    }
</style>
</@override>
<@override name="body">

<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">询盘号:</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${enquiryDto.enquiryNumber}" class="layui-input" readonly>
        </div>
        <label class="layui-form-label">发布人姓名:</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${userDto.realName}" class="layui-input" readonly>
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">询盘主题:</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${enquiryDto.enquiryTitle}" class="layui-input" readonly>
        </div>
        <label class="layui-form-label">询盘状态: </label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${enquiryDto.strEnquiryStatus}" class="layui-input" readonly>
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">询盘发布日期:</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${enquiryDto.strCreateTime}" class="layui-input" readonly>
        </div>
        <label class="layui-form-label">价日期: </label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${enquiryDto.strTakeDate}" class="layui-input" readonly>
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">收货人地址:</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${enquiryDto.takeAddress}" class="layui-input" readonly>
        </div>
        <label class="layui-form-label">收货人姓名: </label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${enquiryDto.takeName}" class="layui-input" readonly>
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">收货人电话:</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${enquiryDto.takePhone}" class="layui-input" readonly>
        </div>
        <label class="layui-form-label">截止日期: </label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${enquiryDto.strEndTime}" class="layui-input" readonly>
        </div>
    </div>
</div>
<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">询盘备注: </label>
    <div class="layui-input-block" readonly >
        <textarea  class="layui-textarea">${enquiryDto.enquiryRemark}</textarea>
    </div>
</div>
<br>
<br>
<br>

<h3>商品列表</h3>
<#list enqProDtoList as enqProduct>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">商品名：</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${enqProduct.productName}" class="layui-input" readonly>
        </div>
        <label class="layui-form-label">商品类别：</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${enqProduct.assortName}" class="layui-input" readonly>
        </div>
        <label class="layui-form-label">商品数量：</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${enqProduct.productNumber}${enqProduct.productUnit}" class="layui-input" readonly>
        </div>
        <!--<div class="layui-input-inline" style="margin-left: 50px">
            <button class="layui-btn" lay-submit type="button" onclick="checkvalue(${enqProduct.enquiryProductId})">查看商家报价</button>
        </div>-->
    </div>
</div>
</#list>
<br>
<br>
<br>

<div class="layui-input-block" >
    <!--<button class="layui-btn" lay-submit type="button" onclick="viewProduct(this)"><input type="hidden" value="${enquiryDto.enquiryNumber}">查看商品信息</button>-->
    <button class="layui-btn" lay-submit type="button" onclick="passed(this)"><input type="hidden" value="${enquiryDto.enquiryNumber}">审核通过</button>
    <button class="layui-btn" lay-submit type="button" id="refuse">
        <input id="refuseNumber" type="hidden" value="${enquiryDto.enquiryNumber}">审核失败</button>
    <button class="layui-btn" lay-submit type="button" onclick="returnBack()">返回上一页</button>

</div>
<div class="refuse" id="reason" style="margin-top: 30px;">
<textarea id="textReason" placeholder="请输入理由" style="width: 400px;height: 200px;margin-left: 10%">
</textarea>
<button class="layui-btn" onclick="refuse()">提交</button>
</div>
</@override>
<@override name="js">
<script type="text/javascript">
    layui.use(['element', 'layer'], function(){
        var element = layui.element;
        var layer = layui.layer;
    });
    //获取产品列表
    /*function viewProduct(obj) {
        var enqNum = $(obj).find("input:hidden").val();
        window.location.href = "viewProduct/"+enqNum
    }*/

    //审核通过
    function passed(obj) {
        var enqNum = $(obj).find("input:hidden").val();
        var data =enqNum;
        $.ajax({
            url: "passed",
            data:  data,
            type: "post",
            contentType: "application/json",
            success: function (data) {
                if(data.code == 0){
                    layer.open({
                        type: 1
                        ,area:["20%","40%"]
                        ,content:'<div>'+ data.msg +'</div>'
                        ,btn: '关闭全部'
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0 //不显示遮罩
                        ,yes: function(){
                            layer.closeAll();
                            window.parent.location.href = "/admin/enquiry/enquiryDetail/"+enqNum;
                        }
                    });
                }else{
                    alert(data.msg);
                }
            }
        });
        return false ;
    }
    $(document).ready(function() {
        $("#refuse").click(function() {
            $("#reason").removeClass("refuse");
            $("#reason").addClass("refuseClike");
        });
    })
    function refuse() {
        var enqNum = $("#refuseNumber").val();
        var reason  = $("#textReason").val();
        var data = {
            enquiryNumber:enqNum,
            reason:reason
        };
        $.ajax({
            url: "refuse",
            data:  JSON.stringify(data),
            type: "post",
            contentType: "application/json",
            success: function (data) {
                if(data.code == 0){
                    layer.open({
                        type: 1
                        ,area:["20%","40%"]
                        ,content:'<div>'+ data.msg +'</div>'
                        ,btn: '关闭全部'
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0 //不显示遮罩
                        ,yes: function(){
                            layer.closeAll();
                            window.parent.location.href = "/admin/enquiry/enquiryDetail/"+enqNum;
                        }
                    });
                }else{
                    alert(data.msg);
                }
            }
        });
        return false ;
    }

    function returnBack() {
        window.location.href = "javascript:history.go(-1)";
    }
</script>

</@override>
<@extends name="/common/layout/base.html"/>