<@override name="title">
新闻资讯
</@override>

<@override name="css">
<style>

</style>
</@override>
<@override name="body">
<body>
<div class="layui-form">
    <h5>搜索条件</h5>

    <div class="demoTable">
        <label class="layui-inline">询盘标题</label>
        <div class="layui-inline">
            <input class="layui-input" name="enquiryTitle" id="enquiryTitle" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>
</div>
<h5>询盘列表</h5>
<table class="layui-hide" id="enquiryList" lay-filter="enquiryList"></table>
</body>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addEnquiry">发布询盘</button>
    </div>
</script>
</@override>

<@override name="js">
<script type="text/javascript">
    layui.use('table', function(){
        var table = layui.table;

        // table.set({
        //     headers: {
        //         "Authorization": getCookie("token")
        //     }
        // });

        table.render({
            elem: '#enquiryList'
            ,id:"enquiryList"
            ,url: 'getList'
            ,toolbar: '#toolbarDemo'
            ,title: '询盘列表'
            //,method: 'post' //如果无需自定义HTTP类型，可不加该参数
            //,request: {} //如果无需自定义请求参数，可不加该参数
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页

            }
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'enquiryTitle',  title: '询盘标题'}
                ,{field:'strEnquiryType',  title: '类型'}
                ,{field:'statusMessage', title: '状态' }
                ,{field:'strTakeDate', title: '采购日期' }
                ,{field:'takeAddress', title: '收货地址' }
                ,{field:'strCreateTime', title: '询盘发布日期' }
                ,{field:'enquiryRemark',  title: '备注'}
                , {field: 'button', title: '操作',width:250,
                    templet: function (e) {
                        var html;
                        html = '<a class="layui-btn layui-btn-container layui-btn-xs" onclick="enquiryDetail(this)"><input type="hidden" value="'+e.enquiryNumber+'">询盘详情</a >';
                        if(e.statusMessage != "禁止报价"){
                            html += '<a class="layui-btn layui-btn-container layui-btn-xs" onclick="banQuote(this)"><input type="hidden" value="'+e.enquiryNumber+'">禁止报价</a >';
                        }else if(e.statusMessage == "禁止报价"){
                            html = '<a class="layui-btn layui-btn-container layui-btn-xs" onclick="regainQuote(this)"><input type="hidden" value="'+e.enquiryNumber+'">恢复询盘报价</a >';
                        }
                        else {
                            /*html = '<a class="layui-btn layui-btn-container layui-btn-xs" onclick="enquiryDetail(this)"><input type="hidden" value="'+e.enquiryNumber+'">询盘详情</a >';*/
                        }
                        return html;
                    }}
            ]]
        });

        //重载表格
        var $ = layui.$, active = {
            reload: function(){
                //执行重载
                table.reload('enquiryList', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        enquiryTitle: $('#enquiryTitle').val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //头工具栏事件
        table.on('toolbar(enquiryList)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'addEnquiry':
                    layer.open({
                        type:2,
                        area:["60%","100%"],
                        title:"发布询盘",
                        shadeClose:true,
                        content:"toAddEnquiry"
                    });
                    break;
            };
        });
    });

    function enquiryDetail(obj) {
        var enqNum = $(obj).find("input:hidden").val();
        window.location.href = "enquiryDetail/"+enqNum
    }

    function banQuote(obj){
        var enqNum = $(obj).find("input:hidden").val();
        $.ajax({
            url: "banQuote/"+enqNum,
            type: "get",
            dataType:"json",

            success: function (data) {
                if(data.code == 0){
                    layer.open({
                        type: 1
                        ,area:["20%","40%"]
                        ,content:'<div>'+ data.msg +'</div>'
                        ,btn: '关闭全部'
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0 //不显示遮罩
                        ,yes: function(){
                            layer.closeAll();
                            window.location.href = 'toList' ;
                        }
                    });
                }else{
                    layer.msg(data.msg);
                }
            }
        });
        return false ;
    }

    function regainQuote(obj){
        var enqNum = $(obj).find("input:hidden").val();
        $.ajax({
            url: "regainQuote/"+enqNum,
            type: "get",
            dataType:"json",

            success: function (data) {
                if(data.code == 0){
                    layer.open({
                        type: 1
                        ,area:["20%","40%"]
                        ,content:'<div>'+ data.msg +'</div>'
                        ,btn: '关闭全部'
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0 //不显示遮罩
                        ,yes: function(){
                            layer.closeAll();
                            window.location.href = 'toList' ;
                        }
                    });
                }else{
                    layer.msg(data.msg);
                }
            }
        });
        return false ;
    }

</script>
</@override>

<@extends name="/common/layout/base.html"/>