<@override name="title">
求购列表
</@override>
<@override name="css">
	<link rel="stylesheet" href="${contextPath}/css/purchList.css">
	<link rel="stylesheet" href="${contextPath}/css/iconfont1.css">
</@override>

<@override name="body">
<div id="purch-center">
	<!--<ol class="am-breadcrumb">
		<li><a href="#">首页</a></li>
		<li><a href="/enquiry/toEnquiryList">求购信息</a></li>
		<li class="am-active">求购信息</li>
	</ol>-->
	<p style="line-height: 40px;">
		<span style="font-weight: bold">求购信息</span>
		<span>(共找到<span style="color: red; font-size: 12px" id="purchaseLength"></span>条求购信息)</span>
		<button type="submit" class="purbutton"><a href="/enquiry/create">发布询价单</a></button>
	</p>
	<div class="pur-list">
		<ul id="showAssort">
			<div id="showMoreAssort">
			</div>
			<div id="showMoreAssort2" style="display: none;">
			</div>
			<li style="width: 50px;">
			<a href="#" style="color: #333;"  id="toggle" >+展开</a>
		</li>
		</ul>
		<div class="plist-down">
			<div class="ptitle">
				<p>
					<span>报价截至日期</span>
					<a href="javascript:void(0);" onclick="endTimeSort(0)" class="iconfont iconshangyi" style="width: 24px; display: inline-block;border-right: 1px solid #e6e6e6;">
					</a>
					<a href="javascript:void(0);" onclick="endTimeSort(1)" class="iconfont iconxiayi" style="width: 24px; display: inline-block;">
					</a>
				</p>
				<p>
					<span>发布日期</span>
					<a href="javascript:void(0);" onclick="tablieList(0,'',0)" class="iconfont iconshangyi" style="width: 24px; display: inline-block;border-right: 1px solid #e6e6e6;"></a>
					<a href="javascript:void(0);" onclick="tablieList(0,'',1)" class="iconfont iconxiayi" style="width: 24px; display: inline-block;"></a>
				</p>
			</div>
			<div class="ptitle1">
				<table class="am-table">
					<thead>
					<tr>
						<th>标题</th>
						<th>采购量</th>
						<th>报价截至时间</th>
						<th>采购商信息</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody id="showMoreAssorts">
					</tbody>
				</table>

			</div>

		</div>
	</div>
</div>
</@override>
<@override name="js">
<script TYPE="application/javascript">
	$(function(){
	    //通过查询
        tablieList(0,"","");
        //默认加载数据--产品分类	getIdName
        $.ajax({
            url : "getIdName",
            type : "post",
            contentType: 'application/json; charset=UTF-8',
            dataType : "json",
            success : function(data) {
                $.each(data, function (i, v) {
                    if (i<18){
                        whatever=liContentAssort(v);
                        $("#showMoreAssort").append(whatever);
                    }else{
                        var endEver=liContentAssort(v);
                        $("#showMoreAssort2").append(endEver);
                    }
                });
            }
        });
        $("#toggle").click(function() {
            $(this).text($("#showMoreAssort2").is(":hidden") ? "收起" : "展开");
            $("#showMoreAssort2").slideToggle();
        });
	});
	//截止时间查询
	function endTimeSort(orderType) {
	    var orderType=orderType;
	    if (orderType ==0){
            orderType="asc";
		}else{
            orderType="desc";
		}
	    var assortId=0;
	    var endTimeSort="endTimeSort";
        tablieList(assortId,endTimeSort,orderType);
    }

	function tablieList(assortId,endTimeSort,orderType) {
        var orderType=orderType;
            if (orderType ==0){
                orderType="asc";
            }else if (orderType==1){
                orderType="desc";
            }
        var str={page:1,limit:10,
					assortId:assortId,
					enquiryStatus:3,
            		endTimeSort:endTimeSort,
            		orderType:orderType
				};
        //默认加载数据 --询盘列表
        $.ajax({
            url : "getEnquiryList",
            type : "post",
            data:JSON.stringify(str),
            contentType: 'application/json; charset=UTF-8',
            dataType : "json",
            success : function(data) {
                $("#purchaseLength").html(data.data.length);
                var whatever="";
              	 $("#showMoreAssorts").html("");
                if(data.count==0){
                    var noData=$("<tr><th colspan='5'>暂无相关数据</th></tr>");
                    //$("#showMoreAssorts").html("暂无相关数据");
                    $("#showMoreAssorts").append(noData);
                }
                $.each(data.data, function (i, v) {
					whatever=liContent(v);
                    $("#showMoreAssorts").append(whatever);
                });
            }
        });
    }

	//分类展示
	function liContentAssort(v) {
		var li=$(
            "<li><a href='javascript:void(0);' onclick='tablieList("+v.assortId+")'>"+v.assortName+"</a> </li>"
		);
		return li;
    }

	//列表展示
	function liContent(v){
        var enquiryTitle=v.enquiryTitle;
        var createTime=v.strCreateTime;
        var enquiryNumber=v.enquiryNumber;
        //报价截至日期
        var endTime=v.strEndTime;
        var productDto=v.enquiryProductDto;
        var productNumber=productDto[0].productNumber;
        var productUnit=productDto[0].productUnit;
        var enquiryProductId=productDto[0].enquiryProductId;
        var purchaseLength=0;
        if (productDto[0].purchases[0].purchaseNumber!=undefined){
            purchaseLength=productDto[0].purchases.length;
		}
		var shopDto=v.shopDto;
		var shopName=shopDto.shopName;

		var li=$("<tr>"
            +"<td>"
            +"<p style='color:#0066cc'>"+enquiryTitle+"</p>"
            +"<p>发布日期："+createTime+"</p>"
        +"</td>"
        +"<td>"+productNumber+productUnit
        +"</td>"
        +"<td>"
        +"<p>"+endTime+"</p>"
        +"<p>剩余<span style='color: #F58022'>27</span>天</p>"
        +"</td>"
        +"<td>"
        +"<p>"+shopName+"</p>"
        +"</td>"
        +"<td>"
        +"<button class='am-btn am-btn-danger am-radius' onclick='toPurchase(\""+enquiryProductId+"\")'>立即报价</button>"
            +"<p >已有<span style='color: #F58022'>"+purchaseLength+"</span>人报价</p>"
        +"</td>"
        +"</tr>"

		)
	return  li;
    }

    //跳转报价页面
    function toPurchase(enquiryProductId){
        window.location.href="/enquiry/toPurchaseDetails?enquiryProductId="+enquiryProductId;
	}


	//加载更多
	function toLoadMore() {
        document.getElementById("showMoreAssort2").style.display = "block";
    }
</script>
</@override>
<@extends name="/common/layout/base.personalCenter.html"/>