<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>求购列表</title>
	<link rel="stylesheet" href="../../static/AmazeUI-2.4.2/assets/css/amazeui.min.css">
	<link rel="stylesheet" href="../../static/AmazeUI-2.4.2/assets/css/admin.css">
	<link rel="stylesheet" href="../../static/css/purchList.css">
	<link rel="stylesheet" href="../../static/css/iconfont1.css">
	<link rel="stylesheet" href="../../static/css/personal.css">
	<link rel="stylesheet" href="../../static/css/header.css">
	<script src="../../static/js/jquery-3.1.1.js" ></script>
</head>

<body background="#fff;">
<div id="nav">
	<div class="nav_in">
		<div class="left">
			<p>欢迎您  &nbsp;请<a href="javascript">登录</a>  &nbsp;<a href="javascript">注册会员</a></p>
		</div>
		<div class="right">
			<p class="service">客服电话：400-xxx-xxxx</p>
			<div class="order">
				<a href="#">我的订单</a>
				<span class="icon icon1"></span>
			</div>
			<div class="seller">
				<a href="#">卖家中心</a>
				<span class="icon icon1"></span>
			</div>
			<div class="shopping">
				<a href="#">购物车</a>
				<a href="#">(0)</a>
			</div>
		</div>

	</div>
</div>
<div id="search">
	<div class="search_in">
		<div class="logo"></div>
		<div class="sear">
			<div class="tog">
				<div class="tog_in">
					<a href="#">产品</a>
					<i class="iconfont iconxialajiantou"></i>
					<ul>
						<li><a href="">产品</a></li>
						<li><a href="">店铺</a></li>
					</ul>
				</div>
				<input type="text" placeholder="布料" class="sousuo">
			</div>


			<button type="submit" class="cont"><a href="02 search.html">搜索</a></button>


		</div>
	</div>
</div>
<div id="contain">
	<div class="list">
		<div class="list_in">
			<div class="list_up">
				<div class="title"><i class="iconfont iconhangyefenlei"></i>行业分类</div>
				<div class="header">
					<ul>
						<li><a href="/">首页</a></li>
						<li><a href="">现货</a></li>
						<li class="cur"><a href="enquiry/toEnquiryList">求购信息</a></li>
						<li><a href="">纺织咨询</a></li>
						<li><a href="">联系我们</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<b class="line"></b>
<div id="purch-center">
	<ol class="am-breadcrumb">
		<li><a href="#">首页</a></li>
		<li><a href="/enquiry/toEnquiryList">求购信息</a></li>
		<li class="am-active">求购信息</li>
	</ol>
	<p style="line-height: 40px;">
		<span style="font-weight: bold">求购信息</span>
		<span>(共找到<span style="color: red; font-size: 12px">1180</span>条求购信息)</span>
		<button type="submit" class="purbutton"><a href="/enquiry/create">发布询价单</a></button>
	</p>
	<div class="pur-list">
		<ul id="showAssort">
			<div id="showMoreAssort">
			</div>
			<li style="width: 50px;">
			<a href="#" style="color: #333;">+展开</a>
		</li>
		</ul>
		<div class="plist-down">
			<div class="ptitle">
				<p>
					<span>报价截至日期</span>
					<i class="iconfont iconshangyi" style="width: 24px; display: inline-block;border-right: 1px solid #e6e6e6;"></i>
					<i class="iconfont iconxiayi" style="width: 24px; display: inline-block;"></i>
				</p>
				<p>
					<span>发布日期</span>
					<i class="iconfont iconshangyi" style="width: 24px; display: inline-block;border-right: 1px solid #e6e6e6;"></i>
					<i class="iconfont iconxiayi" style="width: 24px; display: inline-block;"></i>
				</p>
			</div>
			<div class="ptitle1">
				<table class="am-table">
					<thead>
					<tr>
						<th>标题</th>
						<th>采购量</th>
						<th>报价截至时间</th>
						<th>采购商信息</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody id="showMoreAssorts">
					</tbody>
				</table>

			</div>

		</div>
	</div>
</div>
</body>
</html>
<script TYPE="application/javascript">
	$(function(){
	    //通过查询
        tablieList(0);
        //默认加载数据--产品分类	getIdName
        $.ajax({
            url : "getIdName",
            type : "post",
            contentType: 'application/json; charset=UTF-8',
            dataType : "json",
            success : function(data) {
                $.each(data, function (i, v) {
                   var whatever = liContentAssort(v);
                    $("#showMoreAssort").append(whatever);

                });
            }
        });

	});
	function tablieList(assortId) {
        var str={page:1,limit:10,assortId:assortId,enquiryStatus:3};
        //默认加载数据 --询盘列表
        $.ajax({
            url : "getEnquiryList",
            type : "post",
            data:JSON.stringify(str),
            contentType: 'application/json; charset=UTF-8',
            dataType : "json",
            success : function(data) {
                var whatever="";
              	 $("#showMoreAssorts").html("");
                if(data.count==0){
                    $("#showMoreAssorts").html("暂无相关数据");
                }
                $.each(data.data, function (i, v) {
					whatever=liContent(v);
                    $("#showMoreAssorts").append(whatever);
                });
            }
        });
    }

	//分类展示
	function liContentAssort(v) {
		var li=$(
            "<li><a href='javascript:void(0);' onclick='tablieList("+v.assortId+")'>"+v.assortName+"</a> </li>"
		);
		return li;
    }

	//列表展示
	function liContent(v){
        var enquiryTitle=v.enquiryTitle;
        var createTime=v.strCreateTime;
        var enquiryNumber=v.enquiryNumber;
        //报价截至日期
        var endTime=v.strEndTime;
        var productDto=v.enquiryProductDto;
        var productNumber=productDto[0].productNumber;
        var productUnit=productDto[0].productUnit;
        var enquiryProductId=productDto[0].enquiryProductId;
		var purchaseNumber=productDto[0].purchases.productNumber;
		var purchaseLength=productDto[0].purchases.length;
		var shopDto=v.shopDto;
		var shopName=shopDto.shopName;

		var li=$("<tr>"
            +"<td>"
            +"<p style='color:#0066cc'>"+enquiryTitle+"</p>"
            +"<p>发布日期："+createTime+"</p>"
        +"</td>"
        +"<td>"+productNumber+productUnit
        +"</td>"
        +"<td>"
        +"<p>"+endTime+"</p>"
        +"<p>剩余<span style='color: #F58022'>27</span>天</p>"
        +"</td>"
        +"<td>"
        +"<p>柳州市华绿商贸有限公司</p>"
        +"</td>"
        +"<td>"
        +"<button class='am-btn am-btn-danger am-radius' onclick='toPurchase(\""+enquiryProductId+"\")'>立即报价</button>"
            +"<p >已有<span style='color: #F58022'>"+purchaseLength+"</span>人报价</p>"
        +"</td>"
        +"</tr>"

		)
	return  li;
    }

    //跳转报价页面
    function toPurchase(enquiryProductId){
	    console.log(enquiryProductId);
        window.location.href="/enquiry/toEnquiryDetails?enquiryProductId="+enquiryProductId;
	}
</script>