<@override name="title">
求购列表
</@override>
<@override name="css">
	<link rel="stylesheet" href="${contextPath}/css/purchList.css">
	<link rel="stylesheet" href="${contextPath}/css/iconfont1.css">
<link rel="stylesheet" href="/static/Pagination/css/jquery.pagination.css">
</@override>

<@override name="body">
<div id="purch-center">
	<!--<ol class="am-breadcrumb">
		<li><a href="#">首页</a></li>
		<li><a href="/enquiry/toEnquiryList">求购信息</a></li>
		<li class="am-active">求购信息</li>
	</ol>-->
	<p style="line-height: 40px;">
		<span style="font-weight: bold">求购信息</span>
		<span>(共找到<span style="color: red; font-size: 12px" id="purchaseLength"></span>条求购信息)</span>
		<button type="submit" class="purbutton"><a href="/enquiry/create">发布询价单</a></button>
	</p>
	<div class="pur-list">
						<ul id="showAssort">
							<li>请选择分类：</li>
							<div id="showMoreAssort">
							</div>
						</ul>
						<div style="border:1px; display: none;" id="sma2">
							<ul>
								<li>请选择分类：</li>
							<div id="showMoreAssort2">
							</div>
							</ul>
						</div>
						<div style="border:1px;display: none;" id="sma3">
							<ul>
								<li>请选择分类：</li>
							<div id="showMoreAssort3">
							</div></ul>
						</div>
		<div class="plist-down">
			<div class="ptitle">
				<p>
					<span>报价截至日期</span>
					<a href="javascript:void(0);" onclick="endTimeSort(0)" class="iconfont iconshangyi" style="width: 24px; display: inline-block;border-right: 1px solid #e6e6e6;">
					</a>
					<a href="javascript:void(0);" onclick="endTimeSort(1)" class="iconfont iconxiayi" style="width: 24px; display: inline-block;">
					</a>
				</p>
				<p>
					<span>发布日期</span>
					<a href="javascript:void(0);" onclick="tablieList(1,0,'',0)" class="iconfont iconshangyi" style="width: 24px; display: inline-block;border-right: 1px solid #e6e6e6;"></a>
					<a href="javascript:void(0);" onclick="tablieList(1,0,'',1)" class="iconfont iconxiayi" style="width: 24px; display: inline-block;"></a>
				</p>
			</div>
			<div class="ptitle1">
				<table class="am-table">
					<thead>
					<tr>
						<th>标题</th>
						<th>采购量</th>
						<th>报价截至时间</th>
						<th>采购商信息</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody id="showMoreAssorts">
					</tbody>
				</table>
				<div id="pageManage">
					<div id="pagination" style="text-align: center"></div>
				</div>
			</div>

		</div>
	</div>
</div>
</@override>
<@override name="js">
<script type="text/javascript" src="/static/Pagination/js/jquery.pagination.js"></script>
<script>// pagination 分页插件
function PageCallback(index) {     //前一个表示您当前点击的那个分页的页数索引值，后一个参数表示装载容器。
    tablieList(index + 1, 0,"",1);
}

function showSortList(assortId,assortLevel) {
    //默认加载数据--产品分类	getIdName
    $.get("/pc/commonPullDown/selUnderAssort/"+assortId,function (data) {
        if (assortLevel==1){
            $("#showMoreAssort2").html("");
            $("#showMoreAssort3").html("");
            document.getElementById('sma3').style.display='none';
            document.getElementById('sma2').style.display='block';
        }else if (assortLevel ==2){
            $("#showMoreAssort3").html("");
            document.getElementById('sma3').style.display='block';
        }else if(assortLevel==""){
            $("#showMoreAssort").html("");
            $("#showMoreAssort2").html("");
            $("#showMoreAssort3").html("");
        }
        $.each(data, function (i, v) {
            var whatever = liContentAssort(v,assortLevel);
            if (assortLevel ==""){
                $("#showMoreAssort").append(whatever);
            }else if (assortLevel==1){
                $("#showMoreAssort2").append(whatever);
			}
            else if (assortLevel ==2){
                $("#showMoreAssort3").append(whatever);
            }
        });
    });
}
//分类展示
function liContentAssort(v,assortLevel) {
    var li;
    if (assortLevel == 2){
        li=$(
            "<li><a href='javascript:void(0);' onclick='tablieList(\""+1+"\",\""+v.assortId+"\",\""+''+"\",\""+1+"\")' >"+v.assortName+"</a> </li>"
        );
	}else{
        li=$(
            "<li><a href='javascript:void(0);' onclick='showSortList("+v.assortId+","+v.assortLevel+")' >"+v.assortName+"</a> </li>"
        );
	}
    return li;
}

	$(function(){
        tablieList(1,0,"",1);
        showSortList(0,"");
	});
	//截止时间查询
	function endTimeSort(index,orderType) {
	    var assortId=0;
	    var endTimeSort="endTimeSort";
        tablieList(1,assortId,endTimeSort,orderType);
    }

    //数据加载
	function tablieList(page,assortId,endTimeSort,orderType) {
        $("#showMoreAssorts").html("");
        var count;//总的数目
        var allPage;//总页数
        var pageData = 5;//每页显示的条数
        var orderType=orderType;
        if (orderType ==0){
            orderType="asc";
        }else if (orderType==1){
            orderType="desc";
        }
        var str={page:page,limit:pageData,
            assortId:assortId,
            enquiryStatus:3,
            endTimeSort:endTimeSort,
            orderType:orderType
        };
        //默认加载数据 --询盘列表
        $.ajax({
            url : "getEnquiryList",
            type : "post",
            data:JSON.stringify(str),
            contentType: 'application/json; charset=UTF-8',
            dataType : "json",
            success : function(data) {
                count=data.count;
                var whatever="";
                if(data.count==0){
                    var noData=$("<tr><th colspan='5'>暂无相关数据</th></tr>");
                    //$("#showMoreAssorts").html("暂无相关数据");
                    $("#showMoreAssorts").append(noData);
                    $("#purchaseLength").html(0);
                }else {
                    $("#purchaseLength").html(count);
                    $.each(data.data, function (i, v) {
                        whatever=liContent(v);
                        $("#showMoreAssorts").append(whatever);
                    });
                }
                $("#pagination").pagination(count, {   //total(一共多少条记录)不能少
                    current_page: page-1,                  //当前页码
                    callback: PageCallback,
                    prev_text: '上一页',
                    next_text: '下一页',
                    items_per_page: 5,             //每页显示最大条数
                    num_display_entries: 4,        //连续分页主体部分显示的分页条目数
                    num_edge_entries: 1,           //两侧显示的首尾分页的条目数
                });
            }
        });
    }

//列表展示
function liContent(v){
    var enquiryTitle=v.enquiryTitle;
    var createTime=v.strCreateTime;
    var enquiryNumber=v.enquiryNumber;
    //报价截至日期
    var endTime=v.strEndTime;
    var date1 = new Date();
    var date2 = new Date(endTime);
    var date = date2.getTime()-date1.getTime();
    var distanceDate = Math.floor(date/(24*3600*1000));
    var productDto=v.enquiryProductDto;
    for(var i = 0 ; i<productDto.length; i++){
        var productNumber=productDto[i].productNumber;
        var productName=productDto[i].productName;
        var productUnit=productDto[i].productUnit;
        var enquiryProductId=productDto[i].enquiryProductId;
        var purchaseLength=0;
        if (productDto[i].purchases[i].purchaseNumber!=undefined){
            purchaseLength=productDto[i].purchases.length;
        }
    }
    var shopDto=v.shopDto;
    var shopName=shopDto.shopName;
    if (shopName==null||shopName==""){
        shopName="无采购信息";
    }



    var li=$("<tr>"
        +"<td>"
        +"<p style='color:#0066cc'>"+productName+"</p>"
        +"<p>发布日期："+createTime+"</p>"
        +"</td>"
        +"<td>"+productNumber+productUnit
        +"</td>"
        +"<td>"
        +"<p>"+endTime+"</p>"
        +"<p>剩余<span style='color: #F58022'>"+distanceDate+"</span>天</p>"
        +"</td>"
        +"<td>"
        +"<p>"+shopName+"</p>"
        +"</td>"
        +"<td>"
        +"<button class='am-btn am-btn-danger am-radius' onclick='toPurchase(\""+enquiryProductId+"\")'>立即报价</button>"
        +"<p >已有<span style='color: #F58022'>"+purchaseLength+"</span>人报价</p>"
        +"</td>"
        +"</tr>"

		)
	return  li;
    }

    //跳转报价页面
    function toPurchase(enquiryProductId){
        window.location.href="/enquiry/toPurchaseDetails?enquiryProductId="+enquiryProductId;
	}


	//加载更多
	function toLoadMore() {
        document.getElementById("showMoreAssort2").style.display = "block";
    }
</script>
</@override>
<@extends name="/common/layout/base.personalCenter.html"/>