<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

	<title>报价</title>

	<link rel="stylesheet" href="../../static/AmazeUI-2.4.2/assets/css/amazeui.min.css">
	<link rel="stylesheet" href="../../static/AmazeUI-2.4.2/assets/css/admin.css">
	<link rel="stylesheet" href="../../static/css/purchList.css">
	<link rel="stylesheet" href="../../static/css/sale/sale_detail.css">
	<link href="../../static/css/personal.css" rel="stylesheet" type="text/css">
	<link href="../../static/css/orstyle.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../../static/css/iconfont.css">
	<link rel="stylesheet" href="../../static/css/header.css">
	<script src="../../static/js/jquery-3.1.1.js" ></script>
	<style>
		.tb-detail-hd{
			line-height: 20px
		}

	</style>
</head>

<body background="#fff">
<!--头 -->
<div id="nav">
	<div class="nav_in">
		<div class="left">
			<p>欢迎您  &nbsp;请<a href="javascript">登录</a>  &nbsp;<a href="javascript">注册会员</a></p>
		</div>
		<div class="right">
			<p class="service">客服电话：400-xxx-xxxx</p>
			<div class="order">
				<a href="#">我的订单</a>
				<span class="icon icon1"></span>
			</div>
			<div class="seller">
				<a href="#">卖家中心</a>
				<span class="icon icon1"></span>
			</div>
			<div class="shopping">
				<a href="#">购物车</a>
				<a href="#">(0)</a>
			</div>
		</div>

	</div>
</div>
<div id="search">
	<div class="search_in">
		<div class="logo"></div>
		<div class="sear">
			<div class="tog">
				<div class="tog_in">
					<a href="#">产品</a>
					<i class="iconfont iconxialajiantou"></i>
					<ul>
						<li><a href="">产品</a></li>
						<li><a href="">店铺</a></li>
					</ul>
				</div>
				<input type="text" placeholder="布料" class="sousuo">
			</div>


			<button type="submit" class="cont"><a href="02 search.html">搜索</a></button>

		</div>
	</div>
</div>
<div id="contain">
	<div class="list">
		<div class="list_in">
			<div class="list_up">
				<div class="title"><i class="iconfont iconhangyefenlei"></i>行业分类</div>
				<div class="header">
					<ul>
						<li class="cur"><a href="/">首页</a></li>
						<li><a href="">现货</a></li>
						<li><a href="">求购信息</a></li>
						<li><a href="">纺织咨询</a></li>
						<li><a href="">联系我们</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<b class="line"></b>
<div id="purchaseDetail">
	<div class="detail-left" id="productImage">
	</div>
	<div class="clearfixRight">
		<div class="tb-detail-hd">
			<h3 style="font-size: 16px; font-weight: bold" id="productName"></h3>
			<input type="hidden" id="enquiryProductId" value="${enquiryProductId}">
			<input type="hidden" id="purchaseNumber">

		</div>
		<div class="clear-down">
			<div class="cloum1">
				<span class="am-u-sm-2" >发布人：</span>
				<span class="am-u-sm-10">
							<span>昵称&nbsp;&nbsp;<span id="loginName"></span></span>
							<span class=" cloum1-pic"></span>
						</span>

			</div>
			<div class="cloum1">
				<span class="am-u-sm-2">编号：</span>
				<span class="am-u-sm-10">
							<span id="enquiryNumber"></span>
						</span>

			</div>
			<div class="cloum1">
				<span class="am-u-sm-2">发布时间：</span>
				<span class="am-u-sm-10">
							<span id="strCreateTime"></span>
						</span>

			</div>
			<div class="cloum1">
				<span class="am-u-sm-2">交付时间：</span>
				<span class="am-u-sm-10">
							<span id="strTakeDate"></span>
						</span>

			</div>
			<div class="cloum1">
				<span class="am-u-sm-2">求购状态：</span>
				<span class="am-u-sm-10">
							<span id="statusMessage"></span>
						</span>

			</div>
			<div class="cloum1">
				<span class="am-u-sm-2">求购数量：</span>
				<span class="am-u-sm-10">
							<span id="productNumber"><span id="productUnit"></span></span>
						</span>

			</div>
			<div class="cloum1">
				<span class="am-u-sm-2">交货地址：</span>
				<span class="am-u-sm-10">
							<span id="takeAddress"></span>
						</span>

			</div>
			<div class="cloum1" style="height: 100px;">
				<span class="am-u-sm-2">描述：</span>
				<span class="am-u-sm-10">
							<span id="enquiryRemark"></span>
						</span>

			</div>
			<!--<div class="cloum1">
                <span class="am-u-sm-2" style="color: red;font-weight: bold; font-size: 16px;">我的报价：</span>
                <span class="am-u-sm-10">
                    <input type="text" placeholder="请输入价格" style="border: 1px solid #e6e6e6;padding: 5px 2px;">
                    <button class="am-btn am-btn-danger">提交报价</button>
                </span>

            </div>-->


		</div>
	</div>
	<div class="clear"></div>

</div>


<div class="clear_form">

	<h4 style="margin-bottom: 10px">报价信息</h4>
	<table class="am-table am-table-bordered">
		<thead style="background: #e6e6e6;">
		<tr>
			<th>报价日期</th>
			<th>单价</th>
			<th>价格有效期</th>
			<th>交货期</th>
			<th>是否含税</th>
			<th>备注</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td id="nowTime" ></td>
			<td><input type="text" style="border: 1px solid #e6e6e6;padding: 5px 2px; width: 70px;" id="unitPrice">&nbsp;元</td>
			<td id="strEndTime"></td>
			<td>30天</td>
			<td>
				<input type="radio">是
				<input type="radio">否
			</td>
			<td><input type="text" id="remark"/></td>
		</tr>

		</tbody>
	</table>
	<button class="am-btn am-btn-secondary" style="margin-left: 46%;margin-top: 60px;" onclick="PurchaseNow()">立即发布</button>
</div>




</body>

</html>
<script type="application/javascript">
    $(function(){
        console.log("默认加载");
        var enquiryProductId= $("#enquiryProductId").val();
        var str={enquiryProductId:enquiryProductId};
        //默认加载数据  enquiryTableMessage
        $.ajax({
            url : "selEnquiryByNumber",
            type : "post",
            data:JSON.stringify(str),
            contentType: 'application/json; charset=UTF-8',
            dataType : "json",
            success : function(data) {
                $("#loginName").html(data.loginName);
                $("#enquiryNumber").html(data.enquiryNumber);
                $("#enquiryNumber").val(data.enquiryNumber);
                $("#purchaseNumber").val(data.enquiryProductDto[0].purchases[0].purchaseNumber);
                $("#strCreateTime").html(data.strCreateTime);
                $("#strTakeDate").html(data.strTakeDate);
                $("#statusMessage").html(data.statusMessage);
                $("#productNumber").html(data.enquiryProductDto[0].productNumber);
                $("#enquiryProductId").html(data.enquiryProductDto[0].enquiryProductId);
                $("#productUnit").html(data.enquiryProductDto[0].productUnit);
                $("#takeAddress").html(data.takeAddress);
                $("#enquiryRemark").html(data.enquiryRemark);
                $("#productName").html(data.enquiryProductDto[0].productName);
                $("#productImage").html("<img src='"+data.enquiryProductDto[0].productImage+"' alt='' STYLE='width:400px;height:400px;'>");
                var nowTime=getNowFormatDate();
                $("#nowTime").html(nowTime);
                $("#strEndTime").html(data.strEndTime);
            }
        });
    });

    //获取当前时间
    function getNowFormatDate() {
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + "-" + month + "-" + strDate;
        return currentdate;
    }

    //报价
    function PurchaseNow() {
        var purchaseNumber=$("#purchaseNumber").val();
        if ( purchaseNumber != null){
            if(confirm("已经进行报价，请确认是否进行当前报价操作")){
                var unitPrice=$("#unitPrice").val();
                var enquiryProductId=$("#enquiryProductId").val();
                var enquiryNumber=$("#enquiryNumber").val();
                var remark=$("#remark").val();
                var str={unitPrice:unitPrice,enquiryProductId:enquiryProductId,remark:remark,enquiryNumber:enquiryNumber};
                $.ajax({
                    url: "purchase",
                    type: "post",
                    data: JSON.stringify(str),
                    contentType: 'application/json; charset=UTF-8',
                    dataType: "json",
                    success: function (data) {
                        alert(data.message);
                    }
                });
            }
        }

            /*  var purchaseNumber=$("#purchaseNumber").val();
              if (purchaseNumber==null||purchaseNumber==""){
              }*/

      /*  //对报价进行判断-是否报价过，需要提醒：已经进行报价，请确认是否进行当前报价操作
        var unitPrice=$("#unitPrice").val();
        var enquiryProductId=$("#enquiryProductId").val();
        var enquiryNumber=$("#enquiryNumber").val();
        var remark=$("#remark").val();
		var str={unitPrice:unitPrice,enquiryProductId:enquiryProductId,remark:remark,enquiryNumber:enquiryNumber};
        $.ajax({
            url: "purchase",
            type: "post",
            data: JSON.stringify(str),
            contentType: 'application/json; charset=UTF-8',
            dataType: "json",
            success: function (data) {
				alert(data.message);
            }
        });*/
    }
</script>