<aside class="menu">
    <ul>
        <li class="person active">
            <a href="/personalCenter/toPersonalCenter"><i class="am-icon-user"></i>Personal center</a>
        </li>
        <li class="person">
            <p><i class="am-icon-newspaper-o"></i>personal information</p>
            <ul>
                <li><a href="/personalCenter/toInformation">Personal information</a></li>
                <!--<li><a href="safety.html">安全设置</a></li>-->
                <li><a href="/personalCenter/toAddress">Address management</a></li>
                <li><a href="/personalCenter/toInvoice">Invoice management</a></li>
            </ul>
        </li>
        <li class="person">
            <p><i class="am-icon-balance-scale"></i>My transaction</p>
            <ul>
                <li><a href="/orderManager/toOrderManager">Order management</a></li>
                <!--<li><a href="change.html">退款售后</a></li>
                <li><a href="comment.html">评价商品</a></li>-->
            </ul>
        </li>
        <!--<li class="person">
            <p><i class="am-icon-dollar"></i>我的资产</p>
            <ul>
                <li><a href="walletlist.html">账户余额</a></li>
            </ul>
        </li>-->
        <li class="person">
            <p><i class="am-icon-credit-card-alt"></i>My purchase</p>
            <ul>
                <li><a href="/enquiry/create">Post purchase</a></li>
                <li><a href="/personalCenter/toEnquiryManage">My purchase </a></li>
            </ul>
        </li>

        <li class="person">
            <p><i class="am-icon-heart"></i>my collection</p>
            <ul>
                <li><a href="/personalCenter/toFavoriteManage">collection</a></li>
                <li><a href="/personalCenter/toFootPrintManage">Footprint</a></li>
            </ul>
        </li>

        <li class="person">
            <p><i class="am-icon-qq"></i>online service</p>
            <ul>
                <li><a href="/personalCenter/toSuggest">Feedback</a></li>

                <!--<li><a href="news.html">我的消息</a></li>-->
            </ul>
        </li>
        <li class="person">
            <p><i class="am-icon-shopping-cart"></i><a href="/shopCar/getList">shopping cart&nbsp;</a></p>
        </li>
    </ul>
</aside>