<@override name="title">
新闻资讯
</@override>

<@override name="css">
<style>

</style>
</@override>
<@override name="body">
<body>
<div class="layui-form">
    <h5>搜索条件</h5>
    <div class="demoTable">
        <label class="layui-inline">店铺名称</label>
        <div class="layui-inline">
            <input class="layui-input" name="shopName" id="shopName" autocomplete="off">
        </div>
        <label class="layui-inline">主营产品</label>
        <div class="layui-inline">
            <input class="layui-input" name="mainProducts" id="mainProducts" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>
</div>
<h5>店铺列表</h5>
<table class="layui-hide" id="shopList" lay-filter="shopList"></table>
</body>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addShop">新增</button>
    </div>
</script>
</@override>

<@override name="js">
<script type="text/javascript">
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#shopList'
            ,id:"shopList"
            ,url: 'getList'
            ,toolbar: '#toolbarDemo'
            ,title: '店铺列表'
            //,method: 'post' //如果无需自定义HTTP类型，可不加该参数
            //,request: {} //如果无需自定义请求参数，可不加该参数
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页

            }
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'shopName',  title: '店铺名'}
                /*,{field:'shopName',  title: '注册人姓名'}*/
                ,{field:'shopIntroduce',  title: '店铺介绍'}
                ,{field:'businessScope', title: '业务范围' }
                ,{field:'mainProducts', title: '主营产品' }
                ,{field:'strShopStatus', title: '审核状态' }
                ,{field:'refuseReason', title: '拒绝理由' }
                ,{field:'strCreateTime',  title: '时间'}
                , {field: 'button', title: '操作',
                    templet: function (e) {
                        var html;
                        html = '<a class="layui-btn layui-btn-container layui-btn-xs" onclick="shopDetail('+e.shopId+')">店铺详情</a >';
                        if(e.strShopStatus == "未审核"){
                            html += '<a class="layui-btn layui-btn-container layui-btn-xs layui-btn-danger" onclick="reviewShop('+e.shopId+')">审核</a >';
                        }else if(e.strShopStatus == "审核不通过"){
                            html += '<a class="layui-btn layui-btn-container layui-btn-xs layui-btn-danger" onclick="reviewShop('+e.shopId+')">重新审核</a >';
                        }
                        return html;
                    }}
            ]]
        });

        //重载表格
        var $ = layui.$, active = {
            reload: function(){
                //执行重载
                table.reload('shopList', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        shopName: $('#shopName').val()
                        ,mainProducts:$('#mainProducts').val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //头工具栏事件
        table.on('toolbar(shopList)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'addShop':
                    layer.open({
                        type:2,
                        area:["50%","60%"],
                        title:"新增店铺",
                        shadeClose:true,
                        content:"toAddShop"
                    });
                    break;
            };
        });
    });

    function shopDetail(id) {
        layer.open({
            type:2,
            area:["50%","60%"],
            title:"店铺详情",
            shadeClose:true,
            content:"shopDetail/"+id
        });
    }

    function reviewShop(id) {
        layer.open({
            type:2,
            area:["60%","70%"],
            title:"审核店铺",
            shadeClose:true,
            content:"reviewShop/"+id
        });
    }


    function deleteNewsById(id){
        $.ajax({
            url: "delNewsById/"+id,
            type: "get",
            dataType:"json",
            // beforeSend: function (XMLHttpRequest) {
            //     XMLHttpRequest.setRequestHeader("Authorization", getCookie("token"));
            // },
            success: function (data) {
                if(data.code == 0){
                    layer.open({
                        type: 1
                        ,area:["20%","40%"]
                        ,content:'<div>'+ data.msg +'</div>'
                        ,btn: '关闭全部'
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0 //不显示遮罩
                        ,yes: function(){
                            layer.closeAll();
                            window.location.href = 'toList' ;
                        }
                    });
                }else{
                    layer.msg(data.msg);
                }
            }
        });
        return false ;
    }

</script>
</@override>

<@extends name="/common/layout/base.html"/>