<@override name="title">
商家入驻
</@override>

<@override name="css">
<link rel="stylesheet" href="${contextPath}/css/sale/sale_index.css">
<link rel="stylesheet" href="${contextPath}/css/sale/openShop.css">
</@override>
<@override name="body">
<div id="sale_center">
    <div class="sale_aside">
        <div class="sale_con">
            <div class="openUp">
                <p class="p1">开通商铺</p>
                <div class="turn">
                    <span class="blueCircle">√</span>
                    <span>联系人信息</span>
                    <span class="turnBlue">————</span>
                    <span class="blueCircle">√</span>
                    <span>公司信息</span>
                    <span class="turnBlue">————</span>
                    <span class="blueCircle">√</span>
                    <span>完成</span>
                </div>
                <p class="p2">您的商铺正在审核中...</p>
                <p class="p3">我们将在1~3个工作日内完成审核，审核通过即开通商铺。</p>
                <p class="p3">如有疑问可拨打客服热线400-123-1234</p>
            </div>

        </div>
    </div>

</div>
</@override>
<@override name="js">

</@override>
<@extends name="/common/layout/base.sellerCenter.html"/>

