<!DOCTYPE html>
<html>
    <head>
        <#include "/common/includes/header.html"/>
        <title><@block name="title"/></title>
        <link href="${contextPath}/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="${contextPath}/css/iconfont.css">
        <link rel="stylesheet" href="${contextPath}/css/demo.css">

        <@block name="css"/>
    </head>
    <body>
        <#include "/common/includes/include.top.html"/>
        <#include "/common/includes/include.search.html"/>

        <@block name="body"/>

        <#include "/common/includes/include.sidebar.html"/>
        <#include "/common/includes/include.footer.html"/>
    </body>
<#include "/common/includes/include.script.html"/>

<@block name="js"/>
    <script type="text/javascript" src="/static/js/includes/include.search.js"></script>
    <script type="text/javascript" src="/static/js/includes/include.top.js"></script>

</html>