@charset "utf-8";
/* CSS Document */

.icon1 span{
	display: inline-block;
	width: 22px;
	height: 40px;
	margin-right: 20px;
	
}
.icon1 .up1{
	background: url(../../images/sale/shop27.png) no-repeat 0px 10px; 
}

.icon1 .up2{
	background: url(../../images/sale/shop28.png) no-repeat 0px 10px; 
}

.icon1 .up3{
	background: url(../../images/sale/shop29.png) no-repeat 0px 10px; 
}

.icon1 .up4{
	background: url(../../images/sale/shop30.png) no-repeat 0px 10px; 
}
.icon1 .up5{
	background: url(../../images/sale/shop.up.png) no-repeat 0px 10px;
}
.icon1 .up6{
	background: url(../../images/sale/shop32.png) no-repeat 0px 10px; 
}
.icon1 .down1{
	background: url(../../images/sale/shop33.png) no-repeat 0px 10px; 
}
.icon1 .down2{
	background: url(../../images/sale/shop34.png) no-repeat 0px 10px; 
}
.icon1 .down3{
	background: url(../../images/sale/shop35.png) no-repeat 0px 10px; 
}
.icon1 .down4{
	background: url(../../images/sale/shop36.png) no-repeat 0px 10px; 
}
.icon1 .down5{
	background: url(../../images/sale/shop.down.png) no-repeat 0px 10px;
}
.icon1 .down5{
	background: url(../../images/sale/shop38.png) no-repeat 0px 10px; 
}
.icon1 .add{
	background: url(../../images/sale/shop39.png) no-repeat 0px 10px; 
}
.icon1 .add1{
	background: url(../../images/sale/shop40.png) no-repeat 0px 10px; 
}
.icon1 .delet{
	background: url(../../images/sale/shop41.png) no-repeat 0px 10px; 
}

.icon1 .delet1{
	background: url(../../images/sale/shop.del.png) no-repeat 0px 10px;
}









