@charset "utf-8";
/* CSS Document */
body{
	font-family: "微软雅黑";
}
.topSearch{
	margin-top: 20px;
}
.topSearch input[type="text"]{
	padding: 0px 6px;
	width: 190px;
	height: 40px;
}
.topSearch input[type="email"]{
	padding: 0px 6px;
	width: 90px;
	height: 40px;
}
.am-selected{
	height: 40px;
	margin-left: 20px;
}
.am-selected-btn{
	height: 40px;
}
.am-tab-up{
	margin-top: 30px;
	margin-bottom: 10px;
}
.am-tab-up button{
	padding: 6px;
	background: #fff;
	border: 1px solid #e6e6e6;
}
.order-top{
	padding: 10px;
}
.item-pic{
	width: 50px;
	height: 50px;
	border: none;
	float: left;
	margin: 10px;
}

.order-left{
	padding: 0px;
}
.item-inner .am-selected{
	width: auto;
	margin-left: 0px;
}

.th-amount, .th-status, .th-change{
	width: 14%;
}
.td-amount{
	width: 14%;
}

.th-number{
	margin-left: 8px;
}

.td-number,.td-price,.td-operation{
	line-height: 70px;
}

.td-price, .td-number, .td-operation, .td-status,.td-price, .td-number, .td-amount{
	margin-top: 0px
}

.am-margin{
	margin: 0;
}
.one span{
	color: #999;
}
.one{
	line-height: 30px;
}
.sort-list{
	border: 1px solid #E6E6E6;
	width: 100%;
	height: 180px;
	position: absolute;
	top: 16px;
	left: 0px;
	z-index: 99;
	background: #fff;
	padding: 0px 10px;
	display: none;
	
}

.sort-listfather{
	position: relative;
}

.th-price, .td-price{
	width: 15%;
}

.td-price{
	width: 15%;
}

.order-status1{
	position: relative;
}

.order-left{
	
	border: none
}
.order-content{
	border-bottom: 1px solid #e6e6e6;
}
.list-sort{
	width: 100px;
	min-height: 90px;
	overflow: hidden;
	position: absolute;
	z-index: 999;
	left: 528px;
	top: 58px;
	border: 1px solid #e6e6e6;
	padding: 5px 10px;
	line-height: 36px;
	background: #fff;
	color: #999;
	display: none;
}



.fs-wrap {
    position: absolute;
    display: inline-block;
    width: 110px; 
    font-size: 12px;
    line-height: 1;
	top: 24px;
	left: 640px;
}

.fs-label-wrap {
    position: relative;
    border: 1px solid #ccc;
    cursor: default;
    color: #555;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.fs-label-wrap,
.fs-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fs-label-wrap .fs-label {
    padding: 4px 22px 4px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.fs-arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #000;
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.fs-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    /*margin-top: 2px;*/
    width: 100%;
    z-index: 1000;
    border-radius: 4px;
}

.fs-dropdown .fs-options {
    max-height: 200px;
    overflow: auto;
}

.fs-search input {
    width: 90%;
    padding: 2px 4px;
    border: 0;

}

.fs-selectAll {
    float: right;
    cursor: pointer;
    margin-top: 4px;
    height: auto;
}

.fs-selectAll.selected {
    float: right;
    cursor: pointer;
    margin-top: 4px;
    height: auto;
    color: green;
}

.fs-selectAll:hover{
    background-color: #eee;
}

.fs-option,
.fs-search,
.fs-optgroup-label {
    padding: 6px 8px;
    border-bottom: 1px solid #eee;
    cursor: default;
}

.fs-option {
    cursor: pointer;
}

.fs-option.hl {
    background-color: #f5f5f5;
}

.fs-wrap.multiple .fs-option {
    position: relative;
    padding-left: 30px;
}

.fs-wrap.multiple .fs-checkbox {
    position: absolute;
    display: block;
    width: 30px;
    top: 0;
    left: 0;
    bottom: 0;
}

.fs-wrap.multiple .fs-option .fs-checkbox i {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    background-color: #fff;
}

.fs-wrap.multiple .fs-option.selected .fs-checkbox i {
    background-color: rgb(17, 169, 17);
    border-color: transparent;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
}


.fs-wrap .fs-option:hover {
    /*background-color: #f5f5f5;*/
    background: #D1F3E5;
    border-radius: 4px;
    margin-left:0px;
    margin-right:2px;
}

.fs-optgroup-label {
    font-weight: bold;
}

.hidden {
    display: none;
}

.fs-options::-webkit-scrollbar {
 width: 6px;
}
 .fs-options::-webkit-scrollbar-track {
 -webkit-border-radius: 2em;
 -moz-border-radius: 2em;
 border-radius:2em;
 -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.1);
}
 .fs-options::-webkit-scrollbar-thumb {
   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
 -webkit-border-radius: 2em;
 -moz-border-radius: 2em;
 border-radius:2em;
}






