<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<#assign staticPath=request.contextPath!/>
<#assign contextPath=request.contextPath+"/static" />
<head>
    <#include "/common/includes/header.html"/>
    <title>Store search page</title>
    <!-- css style -->
    <link href="${contextPath}/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>
    <link href="${contextPath}/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css"/>
    <link href="${contextPath}/css/demo.css" rel="stylesheet" type="text/css"/>
    <link href="${contextPath}/css/seastyle.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="${contextPath}/css/header.css">
    <link rel="stylesheet" href="${contextPath}/css/iconfont.css">
    <link rel="stylesheet" href="/static/Pagination/css/jquery.pagination.css">
    <link rel="stylesheet" href="${contextPath}/css/search-shop.css">

    <!-- Introduction of js -->
    <script type="text/javascript" src="${contextPath}/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/Pagination/js/jquery.pagination.js"></script>
    <script type="text/javascript" src="/static/js/includes/include.search.js"></script>
    <script type="text/javascript" src="/static/js/includes/include.top.js"></script>
    <script type="text/javascript" src="/static/js/includes/include.contain.js"></script>

    <style>
        #contain, .list {
            height: auto;
        }
    </style>

</head>

<body style="background: #fff">
<!--Top navigation bar -->
<#include "/common/includes/include.top.html"/>

<!--Suspended search box-->
<#include "/common/includes/include.search.html"/>

<!-- Industry Classification, Home~~ -->
<div class="search-shop" style="padding-top:10px">
    <#include "/common/includes/include.contain.html"/>
    <div class="shop-down am-g am-g-fixed" id="shopList">
    </div>
    <div id="pagination" style="text-align: center">
    </div>
</div>
</div>
<#include "/common/includes/include.footer.html"/>
</div>
<b class="line"></b>
<!--Menu -->
<div class="theme-popover-mask"></div>
</body>

<script type="text/javascript">
    $(function () {
        var shopName = "${searchProductName!}";
        init(0, shopName);
        $("#search_type_name").html("Shop");
        $("#search_type").val(2);
    })

    function init(page, shopName) {
        var data = {page: page, limit: 20, shopName: shopName};
        $.ajax({
            url: "/shop/getShopList",
            type: "post",
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.list.length; i++) {
                    if (i % 3 == 2) {
                        html += '        <div class="shop-down1" style="margin-right: 0px;">\n';
                    } else {
                        html += '        <div class="shop-down1">\n';
                    }
                    html += '            <dl>\n' +
                        '                <dt><img src="' + data.list[i].avatarUrl + '" alt="" width="80"></dt>\n' +
                        '                <dd><h4>' + data.list[i].shopName + '</h4></dd>\n' +
                        '                <dd>\n' +
                        '                    <p>\n' +
                        '                        <span>Business category：</span>\n' +
                        '                        <span style="width:200px; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;">' + data.list[i].mainProducts + '</span>\n' +
                        '                    </p>\n' +
                        // '                    <p>\n' +
                        // '                        <span>Scope of business：</span>\n' +
                        // '                        <span>' + data.list[i].businessScope + '</span>\n' +
                        // '                    </p>\n' +
                        '                </dd>\n' +
                        '                <dd><button onclick="openStore(' + data.list[i].shopId + ')">Enter the store</button></dd>\n' +
                        '            </dl>\n' +
                        '        </div>';
                }
                $("#shopList").empty();
                $("#shopList").append(html);
                $("#pagination").pagination(data.count, {   //total(How many records in total) can't be less
                    callback: PageCallback,
                    prev_text: 'Previous',
                    next_text: 'Next',
                    items_per_page: 40,             //The maximum number of bars displayed per page
                    num_display_entries: 4,        //Number of paging entries displayed in the body section of a continuous paging
                    num_edge_entries: 1,           //Number of entries on the first and last paginations displayed on both sides
                    current_page: page
                });
            }
        });
    }

    function PageCallback(index) {
        Init(index);
    }

    function openStore(shopId) {
        var url = '/shop/toStoreIndex?shopId=' + shopId;
        window.open(url);
    }
</script>
</html>