<!doctype html>
<html>
<head>
    <#include "/common/includes/header.html"/>

    <title>Shop renovation</title>
    <link rel="stylesheet" href="/static/AmazeUI-2.4.2/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/AmazeUI-2.4.2/assets/css/admin.css">
    <link rel="stylesheet" href="/static/css/sale/base.css">
    <link rel="stylesheet" href="/static/css/sale/sale-shop.css">
    <link rel="stylesheet" href="/static/css/sale/sale-company.css">
    <link rel="stylesheet" href="/static/css/sale/sale_header.css">

    <script src="/static/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="/static/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=PN7hTHjoPnEgWmtqrIH4MRtPWezkVmBL"></script>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            border: 0px;
            list-style: none;
        }
        #allmap{width: 100%;height: 70%;overflow: hidden;margin: 0px;font-family: "微软雅黑";}
    </style>
</head>

<body style="background: #f5f5f5;">

<!-- Shop Renovation Top-->
<#include "/sellerCenter/common/header.html"/>

<div id="logo" style="height: 120px;">
    <!--    <img src="../images/sale/shop1.png" alt="">-->
</div>
<div id="nav2" style="background: #F58022">
    <div class="nav_in">
        <ul>
            <li class="cur" onclick="switchPage(this,1);"><a href="#">Home</a></li>
            <li onclick="switchPage(this,2);"><a href="#">Company Profile</a></li>
            <!--            <li><a href="">Video Center</a></li>-->
        </ul>
    </div>

</div>
<div id="shop-chart">
    <div class="chart_in">
        <div class="left">
            <div data-am-widget="slider" class="am-slider am-slider-a1 side-left" id="side-left"
                 data-am-slider='{"directionNav":false}'>
                <ul class="am-slides" id="shop-chart-map">
                    <!-- Figure 1 -->
                    <li><img src="../images/sale/shop2.png" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="right" id="right-company">
            <h4 id="companyName">Zhejiang Dejuren and Textileco Co., Ltd.</h4>
            <div class="Collection" style="cursor: pointer" onclick="collection();">
                <!--                 <span class="coll1">Collection</span>-->
                <!--                 <span class="coll2">Favorites</span>-->
            </div>
            <div>
                <span class="one">Call：</span>
                <span class="two" id="linkPhone">xxxx</span>
            </div>
            <div>
                <span class="one">Business category：</span>
                <span class="two" id="mainProducts"
                      style="line-height: 40px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;">xxxx</span>
            </div>
            <div>
                <span class="one">Contact address：</span>
                <span class="two" id="companyAddress"
                      style="line-height: 40px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;">xxxx</span>
            </div>
            <div>
                <span class="one">About the company：</span>
                <span class="two" id="companyInfo"
                      style="line-height: 40px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;">xxxx</span>
            </div>
        </div>
    </div>
</div>
<div id="shop-product">
    <div class="product-in">
        <div class="product-title" id="product-title">
        </div>
        <!-- List of products-->
        <div class="product" style="text-align: center" id="product">
        </div>
    </div>
</div>
<!--Company Profile-->
<div id="company" hidden>
    <h4>Business registration information</h4>
    <div class="company-left">
        <!--      <div class="company-cloum1">-->
        <!--         <p class="left">Uniform social credit code/registration number：</p>-->
        <!--         <p class="right">91440300573137960X</p>-->
        <!--      </div>-->
        <div class="company-cloum1">
            <p class="left">Company name：</p>
            <p class="right" id="company_name"></p>
        </div>
        <div class="company-cloum1">
            <p class="left">Registered address：</p>
            <p class="right" id="company_address"></p>
        </div>
        <div class="company-cloum1">
            <p class="left">Legal representative：</p>
            <p class="right" id="company_corporate"></p>
        </div>
        <div class="company-cloum1">
            <p class="left">Types of business：</p>
            <p class="right" id="company_type"></p>
        </div>
        <!--      <div class="company-cloum1">-->
        <!--         <p class="left">Duration of operation：</p>-->
        <!--         <p class="right">March 29, 2018~Long</p>-->
        <!--      </div>-->
        <div class="company-cloum1">
            <p class="left">Scope of business：</p>
            <p class="right right1" id="business_scope"></p>
        </div>
        <!--      <div class="company-cloum1">-->
        <!--         <p class="left">Annual Report/Annual Inspection：</p>-->
        <!--         <p class="right">Established in 2018</p>-->
        <!--      </div>-->
        <!--      <div class="company-cloum1">-->
        <!--         <p class="left">Date of establishment：</p>-->
        <!--         <p class="right">29 March 2018</p>-->
        <!--      </div>-->
        <!--      <div class="company-cloum1">-->
        <!--         <p class="left">Registration authority：</p>-->
        <!--         <p class="right">Shaoxing Municipal Market Supervision Authority</p>-->
        <!--      </div>-->
        <!--      <div class="company-cloum1">-->
        <!--         <p class="left">Applicant's name：</p>-->
        <!--         <p class="right">Ms. Jia</p>-->
        <!--      </div>-->
        <!--      <div class="company-cloum1">-->
        <!--         <p class="left">Applicant's Department：</p>-->
        <!--         <p class="right">Sales</p>-->
        <!--      </div>-->
        <!--      <div class="company-cloum1">-->
        <!--         <p class="left">Applicant's position：</p>-->
        <!--         <p class="right">Manager</p>-->
        <!--      </div>-->
    </div>
    <div class="company-right">
        <img id="company_urls" src="" alt="" width="226px;" height="170px" style="background-size: cover;">
        <p style="color: #999; text-align: center">License</p>
    </div>
    <div id="allmap"></div>
</div>

<!-- End of page -->
<#include "/sellerCenter/common/foot.html"/>

<script type="text/javascript">

    //GPS坐标
    var x=116.404;//经度
    var y=39.915;//纬度
    var ggPoint=new BMap.Point(x,y);

    //初始化地图
    var map = new BMap.Map("allmap");
    map.centerAndZoom(ggPoint,15);
    map.enableScrollWheelZoom(true);

    $(function () {
        initHtmlPage();
    })

    // Initialize the page
    function initHtmlPage() {

        $.ajax({
            url: '/shop/getStoreIndexInfo/${shopId!}',
            dataType: 'json',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            success: function (res) {
                //设置经度纬度
                /* x=res.companyDto.longitude;//经度
                 y=res.companyDto.latitude; //纬度  */

                var html = '';
                //------------- Initialize company information-------------------
                if (res.isCollection) {
                    $('.Collection').empty();
                    $('.Collection').append('<span class="coll2">Favorites</span>')
                } else {
                    $('.Collection').empty();
                    $('.Collection').append('<span class="coll1">Collection</span>')
                }
                $().html()
                $('#companyName').html(res.companyDto.compName);
                $('#linkPhone').html(res.companyDto.compPhone);
                $('#mainProducts').html(res.shopDto.mainProducts);
                $('#companyAddress').html(res.companyDto.compAddress);
                $('#companyInfo').html(res.companyDto.companyInfo);

                //------------- Initialization company overview-------------------
                $('#company_name').html(res.companyDto.compName);
                $('#company_address').html(res.companyDto.compAddress);
                $('#company_corporate').html(res.companyDto.compCorporate);
                $('#company_type').html(res.companyDto.compTypeString);
                $('#business_scope').html(res.shopDto.businessScope);
                $('#company_urls').attr("src", res.companyDto.companyURL);

                //------------- Initialize logo-------
                if (res.storeConstructionDto) {
                    var storeLogoUrl = res.storeConstructionDto.storeLogoUrl;
                    if (storeLogoUrl != '') {
                        $('#logo').html('<img src="' + storeLogoUrl + '" alt="">');
                    } else {
                        // todo
                    }


                    //------------- Initial Home/Company Profile/Video Centered Background Color----------------
                    var storeNavColor = res.storeConstructionDto.storeNavColor;
                    if (storeNavColor != null && storeNavColor != '') {
                        $('#nav2').css('background', storeNavColor);
                    } else {
                        // todo
                    }
                    //------------- Initialize the carousel chart -------------------
                    var storeCurouselMapDtoList = res.storeConstructionDto.storeCurouselMapDtoList;
                    if (storeCurouselMapDtoList.length > 0) {
                        for (var i = 0; i < storeCurouselMapDtoList.length; i++) {
                            $('#side-left').flexslider('addSlide', '<li style="cursor: pointer" onclick="' + storeCurouselMapDtoList[i].storeCurouselMapLink + '"><img src="' + storeCurouselMapDtoList[i].mapURL + '" alt=""></li>');
                            if (i == 0) {
                                $('#side-left').flexslider('removeSlide', 0);
                            }
                        }
                    } else {
                        // todo
                    }
                    //------------- Initialize classification-------------
                    html = '';
                    var storeExclusiveAssortDtoList = res.storeConstructionDto.storeExclusiveAssortDtoList;
                    if (storeExclusiveAssortDtoList.length > 0) {
                        for (var i = 0; i < storeExclusiveAssortDtoList.length; i++) {
                            if (i == 0) {
                                html += '<a class="cur" onclick="clickAssortName(this)">' + storeExclusiveAssortDtoList[i].assortName + ' <input hidden name="exclusiveAssortId" value="' + storeExclusiveAssortDtoList[i].exclusiveAssortId + '"></a>';
                                //------------- Initialize the product-------------
                                var param = {
                                    exclusiveAssortId: storeExclusiveAssortDtoList[i].exclusiveAssortId
                                }
                                initProductList(param);
                            } else {
                                html += '<a onclick="clickAssortName(this)">' + storeExclusiveAssortDtoList[i].assortName + ' <input hidden name="exclusiveAssortId" value="' + storeExclusiveAssortDtoList[i].exclusiveAssortId + '"></a>';
                            }
                        }
                        html += '<div class="product-search" id="product-search">\n' +
                            '        <input id="searchPName" type="text" placeholder="In-store search">\n' +
                            '        <button type="button" class="am-btn am-btn-warning" onclick="searchP()">Search</button>\n' +
                            '    </div>';

                        $('#product-title').empty();
                        $('#product-title').append(html);
                    } else {
                        // todo
                    }
                }
            }
        });

    }

    function clickAssortName(obj) {
        $(obj).parent().find('a').removeClass("cur");
        $(obj).addClass('cur');
        searchP()
    }

    function searchP() {
        var exclusiveAssortId = $('#product-title').find('.cur').children('input').val();
        var param = {
            productName: $("#searchPName").val(),
            exclusiveAssortId: exclusiveAssortId
        }
        initProductList(param);
    }

    function initProductList(param) {

        $.ajax({
            url: '/store/searchProduct',
            dataType: 'json',
            type: 'POST',
            data: JSON.stringify(param),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                initTable(data);
            }
        })
    }

    function initTable(data) {
        var html = '';
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                html += '<dl>\n' +
                    '        <dt class="pro-pic1"><img src="' + data[i].productDto.productUrl + '"></dt>\n' +
                    '        <dd class="title1">' + data[i].productDto.productName + '</dd>\n' +
                    '        <dd class="title2">￥<span style="font-size: 18px;">' + data[i].productDto.productStatisticsDto.productPrice + '</span></dd>\n' +
                    '    </dl>';
            }
        } else {
            html += '<div style="padding-top: 25px">No matching products were retrieved！</div>';
        }
        $('#product').empty();
        $('#product').append(html);
    }


    function switchPage(obj, type) {
        $(obj).parent().find('li').removeClass('cur');
        $(obj).addClass('cur');
        switch (type) {
            case 1:
                $('#shop-product').show();
                $('#shop-chart').show();
                $('#company').hide()
                break;
            case 2:
                $('#shop-product').hide();
                $('#shop-chart').hide();
                $('#company').show()
                break;
        }
    }

    function collection() {
        $.ajax({
            url: '/shop/isCollection?shopId=${shopId!}&type=2',
            dataType: 'json',
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.success=="true") {
                    $('.Collection').empty();
                    $('.Collection').append('<span class="coll2">Favorites</span>')
                } else {
                    $('.Collection').empty();
                    $('.Collection').append('<span class="coll1">Collection</span>')
                }
            }
        });


    }
</script>

</body>
</html>
