<@override name="title">
产品详情
</@override>

<@override name="css">
<style>

</style>
</@override>
<@override name="body">
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">真实名:</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${userDto.realName}" class="layui-input" readonly>
        </div>
        <label class="layui-form-label">登录名:</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${userDto.userName}" class="layui-input" readonly>
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">电话:</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${userDto.phone}" class="layui-input" readonly>
        </div>
        <label class="layui-form-label">邮箱:</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${userDto.email}" class="layui-input" readonly>
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">身份证号:</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${userDto.idCard}" class="layui-input" readonly>
        </div>
        <label class="layui-form-label">身份证所属地址:</label>
        <div class="layui-input-inline">
            <input type="text" name="title" value="${userDto.idCardUrl}" class="layui-input" readonly>
        </div>
    </div>
</div>
</div>
</@override>
<@override name="js">
<script type="text/javascript">


</script>
</@override>

<@extends name="/common/layout/base.new.html"/>