<@override name="title">
字典管理
</@override>

<@override name="css">
<style>

</style>
</@override>
<@override name="body">
<body>
<div class="layui-form">
    <h5>搜索条件</h5>
    <div class="demoTable">
        <label class="layui-inline">真实名</label>
        <div class="layui-inline">
            <input class="layui-input" name="realName" id="realName" autocomplete="off">
        </div>
        <label class="layui-inline">登录名</label>
        <div class="layui-inline">
            <input class="layui-input" name="loginName" id="loginName" autocomplete="off">
        </div>
        <label class="layui-inline">电话</label>
        <div class="layui-inline">
            <input class="layui-input" name="userPhone" id="userPhone" autocomplete="off">
        </div>
        <label class="layui-inline">邮箱</label>
        <div class="layui-inline">
            <input class="layui-input" name="userEmail" id="userEmail" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>
</div>
<h5>用户列表</h5>
<table class="layui-hide" id="userList" lay-filter="userList"></table>

<!--<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addUser">新增</button>
    </div>
</script>-->
</@override>

<@override name="js">
<script type="text/javascript">
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#userList'
            ,id:"userList"
            ,url: 'getList'
            ,toolbar: '#toolbarDemo'
            ,title: '用户记录表'
            //,method: 'post' //如果无需自定义HTTP类型，可不加该参数
            //,request: {} //如果无需自定义请求参数，可不加该参数
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页

            }
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'realName',  title: '真实名'}
                ,{field:'userName',  title: '登录名'}
                ,{field:'phone',  title: '电话'}
                ,{field:'email', title: '电子邮箱' }
                ,{field:'idCard',  title: '身份证号'}
                ,{field:'strStatus',  title: '用户状态'}
                ,{field:'strCreateTime',  title: '注册时间'}
                , {field: 'button', title: '操作',width:250,
                    templet: function (e) {
                        var html;
                        if (e.strStatus == "不可用") {
                            html = '<a class="layui-btn layui-btn-container layui-btn-xs" onclick="details(' + e.userId + ')">详情</a >';
                            html += '<a class="layui-btn layui-btn-container layui-btn-xs layui-btn-danger" onclick="ableUser(' + e.userId + ')">恢复</a >';
                            html += '<a class="layui-btn layui-btn-container layui-btn-xs layui-btn-danger" onclick="resetPass(' + e.userId + ')">重置密码</a >';
                            html += '<a class="layui-btn layui-btn-container layui-btn-xs layui-btn-danger" onclick="companyInfo(' + e.userId + ')">公司详情</a >';
                        }
                        else {
                            html = '<a class="layui-btn layui-btn-container layui-btn-xs" onclick="details(' + e.userId + ')">详情</a >';
                            html += '<a class="layui-btn layui-btn-container layui-btn-xs layui-btn-danger" onclick="disableUser(' + e.userId + ')">禁用</a >';
                            html += '<a class="layui-btn layui-btn-container layui-btn-xs layui-btn-danger" onclick="resetPass(' + e.userId + ')">重置密码</a >';
                            html += '<a class="layui-btn layui-btn-container layui-btn-xs layui-btn-danger" onclick="companyInfo(' + e.userId + ')">公司详情</a >';
                        }
                        return html;

                    }}
            ]]
        });

        //重载表格
        var $ = layui.$, active = {
            reload: function(){
                //执行重载
                table.reload('userList', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        realName:$('#realName').val()
                        ,userName: $('#loginName').val()
                        ,phone:$('#userPhone').val()
                        ,email:$('#userEmail').val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //头工具栏事件
        table.on('toolbar(dictList)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'newDict':
                    layer.open({
                        type:2,
                        area:["50%","60%"],
                        title:"新增用户",
                        shadeClose:true,
                        content:"addUser"
                    });
                    break;
            };
        });
    });
    function ableUser(id){
        $.ajax({
            url: "ableUser/"+id,
            type: "get",
            dataType:"json",
            // beforeSend: function (XMLHttpRequest) {
            //     XMLHttpRequest.setRequestHeader("Authorization", getCookie("token"));
            // },
            success: function (data) {
                if(data.code == 0){
                    layer.open({
                        type: 1
                        ,area:["20%","40%"]
                        ,content:'<div>'+ data.msg +'</div>'
                        ,btn: '关闭全部'
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0 //不显示遮罩
                        ,yes: function(){
                            layer.closeAll();
                            window.location.href = 'toList' ;
                        }
                    });
                }else{
                    layer.msg(data.msg);
                }
            }
        });
        return false ;
    }

    function disableUser(id){
        $.ajax({
            url: "disAbleUser/"+id,
            type: "get",
            dataType:"json",
            // beforeSend: function (XMLHttpRequest) {
            //     XMLHttpRequest.setRequestHeader("Authorization", getCookie("token"));
            // },
            success: function (data) {
                if(data.code == 0){
                    layer.open({
                        type: 1
                        ,area:["20%","40%"]
                        ,content:'<div>'+ data.msg +'</div>'
                        ,btn: '关闭全部'
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0 //不显示遮罩
                        ,yes: function(){
                            layer.closeAll();
                            window.location.href = 'toList' ;
                        }
                    });
                }else{
                    layer.msg(data.msg);
                }
            }
        });
        return false ;
    }

    function resetPass(id){
        $.ajax({
            url: "resetPass/"+id,
            type: "get",
            dataType:"json",
            // beforeSend: function (XMLHttpRequest) {
            //     XMLHttpRequest.setRequestHeader("Authorization", getCookie("token"));
            // },
            success: function (data) {
                if(data.code == 0){
                    layer.open({
                        type: 1
                        ,area:["20%","40%"]
                        ,content:'<div>'+ data.msg +'</div>'
                        ,btn: '关闭全部'
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0 //不显示遮罩
                        ,yes: function(){
                            layer.closeAll();
                            window.location.href = 'toList' ;
                        }
                    });
                }else{
                    layer.msg(data.msg);
                }
            }
        });
        return false ;
    }

    function companyInfo(id) {
        layer.open({
            type:2,
            area:["50%","60%"],
            title:"公司详情",
            shadeClose:true,
            content:"companyInfo/"+id
        });
    }

    function details(id) {
        layer.open({
            type:2,
            area:["50%","60%"],
            title:"用户详情",
            shadeClose:true,
            content:"detail/"+id
        });
    }

    function deleteDict(id){
        $.ajax({
            url: "delDictById/"+id,
            type: "get",
            dataType:"json",
            // beforeSend: function (XMLHttpRequest) {
            //     XMLHttpRequest.setRequestHeader("Authorization", getCookie("token"));
            // },
            success: function (data) {
                if(data.code == 0){
                    layer.open({
                        type: 1
                        ,area:["20%","40%"]
                        ,content:'<div>'+ data.msg +'</div>'
                        ,btn: '关闭全部'
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0 //不显示遮罩
                        ,yes: function(){
                            layer.closeAll();
                            window.location.href = 'toList' ;
                        }
                    });
                }else{
                    layer.msg(data.msg);
                }
            }
        });
        return false ;
    }

</script>
</@override>

<@extends name="/common/layout/base.html"/>