<@override name="title">
Merchants
</@override>

<@override name="css">
<link rel="stylesheet" href="${contextPath}/css/sale/sale_index.css">
<link rel="stylesheet" href="${contextPath}/css/sale/openShop.css">
</@override>
<@override name="body">
<div id="sale_center">
    <div class="sale_aside">
        <div class="sale_con">
            <div class="openUp">
                <p class="p1">Open shop</p>
                <div class="turn">
                    <span class="blueCircle">√</span>
                    <span>Contact information</span>
                    <span class="turnBlue">————</span>
                    <span class="blueCircle">√</span>
                    <span>Company information</span>
                    <span class="turnBlue">————</span>
                    <span class="blueCircle">√</span>
                    <span>Complete</span>
                </div>
                <p class="p2">Your store is under review...</p>
                <p class="p3">We will complete the audit within 1 to 3 working days, the audit through the opening of shops。</p>
                <p class="p3">If you have any questions, you can call the customer service hotline 400-123-1234</p>
            </div>

        </div>
    </div>

</div>
</@override>
<@override name="js">

</@override>
<@extends name="/common/layout/base.sellerCenter.html"/>

