<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>分类管理</title>
    <link rel="stylesheet" href="../AmazeUI-2.4.2/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="../AmazeUI-2.4.2/assets/css/admin.css">
    <link rel="stylesheet" href="../css/sale/sale_header.css">
    <link rel="stylesheet" href="../css/sale/sale_aside.css">
    <link rel="stylesheet" href="../css/sale/sale_index.css">
    <link rel="stylesheet" href="../css/sale/sale_order.css">
    <link rel="stylesheet" href="../css/sale/sale_personal.css">
    <link rel="stylesheet" href="../css/sale/prosort.css">
    <script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="../AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
    <script src="../js/ySelect.js"></script>


</head>

<body>
<iframe src="public.html" frameborder="0" height="190" width="100%" style="display: block;"></iframe>
<div id="sale_center">
    <div class="sale_aside">
        <iframe src="aside.html" frameborder="0" height="900" width="14%"
                style="margin: 0px; overflow: hidden;"></iframe>
        <div class="sale_con">
            <ol class="am-breadcrumb">
                <li><a href="">卖家工作台</a></li>
                <li><a href="">分类管理</a></li>
            </ol>
            <div class="sale_down">

                <!--全部的订单-->
                <div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>
                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-fade am-in">
                            <div class="topSearch">
                                <input type="text" placeholder="输入产品名称">
                                <span style="margin-left: 20px;">价格：</span>
                                <input type="email">
                                <span>-</span>
                                <input type="email">
                                <select data-am-selected>
                                    <option value="0">全部</option>
                                    <option value="1">未分类</option>
                                    <option value="2">已分类</option>
                                </select>
                                <button class="am-btn am-btn-secondary" style="height: 40px;margin-left: 20px;">搜索
                                </button>
                            </div>
                            <div class="am-tab-up">
                                <button type="button">批量分类</button>
                            </div>
                            <div class="order-top">
                                <div class="th th-number">
                                    <label>
                                        <input type="checkbox">
                                    </label>
                                    <td class="td-inner">全选</td>
                                </div>
                                <div class="th th-item">
                                    <td class="td-inner">产品名称</td>
                                </div>
                                <div class="th th-operation">
                                    <td class="td-inner">价格</td>
                                </div>
                                <div class="th th-amount">
                                    <td class="td-inner">所属分类</td>
                                </div>
                                <div class="th th-price">
                                    <td class="td-inner">编辑分类</td>
                                </div>
                            </div>

                            <div class="order-main">
                                <div class="order-list">
                                    <!--未分类-->
                                    <div class="order-status1">
                                        <div class="order-content">
                                            <div class="order-left">
                                                <ul class="item-list">
                                                    <li class="td td-number">
                                                        <div class="item-number item-number-margin">
                                                            <label>
                                                                <input type="checkbox">
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="td td-item">
                                                        <div class="item-pic">
                                                            <a href="#" class="J_MakePoint">
                                                                <img src="../images/kouhong.jpg_80x80.jpg"
                                                                     class="itempic J_ItemImg">
                                                            </a>
                                                        </div>
                                                        <div class="item-info">
                                                            <div class="item-basic-info">
                                                                <a href="#">
                                                                    <p>美康粉黛醉美唇膏 持久保湿滋润防水不掉色</p>
                                                                    <!--<p class="info-little">颜色：红色
                                                                        <br/>规格：米 </p>-->
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="td td-operation">
                                                        <div class="item-operation">
                                                            <p>￥29.90</p>

                                                        </div>

                                                    </li>
                                                    <li class="td td-amount" style="margin-top: 26px; color: #999;">
                                                        <div class="item-inner">
                                                            <p>暂无分类</p>

                                                        </div>

                                                    </li>
                                                    <li class="td td-price">
                                                        <div class="item-inner">
                                                            <p>&nbsp;</p>

                                                        </div>

                                                    </li>
                                                    <li class="td td-operation">
                                                        <div class="item-operation">
                                                            <span>编辑</span>
                                                            <span>上架</span>
                                                        </div>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    /*	$(".sort-listfather").hover(function(){
            $(".sort-list").css("display","block");
        });
        $(".sort-list").mouseleave(function(){
            $(".sort-list").css("display","none");
        })*/

    /*$(".sort-listfather").click(function(){
        $(".sort-list").toggle();
    });*/

    $(function () {
        $('.demo').ySelect();
        $('.demo1').ySelect(
            {
                placeholder: '请先选择一些项目',
                searchText: '搜索',
                showSearch: true,
                numDisplayed: 2,
                overflowText: '已选中 {n}项',
                isCheck: false
            }
        );

        $("#current").click(function () {
            alert($("#m1").ySelectedValues(","));
            alert($("#m1").ySelectedTexts(","));
        });

    });

    $(".list-sortF").hover(function () {
        $(".list-sort").css("display", "block");
    });
    $(".list-sort").mouseleave(function () {
        $(".list-sort").css("display", "none");
    })


</script>
</body>
</html>