<!doctype html>
<html>
<head>
    <#include "/common/includes/header.html"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <title>编辑视频</title>
    <link rel="stylesheet" href="/static/AmazeUI-2.4.2/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/sale/sale-shop.css">
    <link rel="stylesheet" href="/static/css/sale/sale-company.css">
    <link rel="stylesheet" href="/static/css/sale/sale-video.css">
    <link rel="stylesheet" href="/static/css/sale/sale_header.css">
    <script  type="text/javascript" src="/static/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script  type="text/javascript" src="/static/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            border: 0px;
            list-style: none;
        }
    </style>
</head>

<body style="background: #f5f5f5;">
<#include "/common/includes/seller.top.html"/>

<div id="logo">
    <img src="../images/sale/shop1.png" alt="" >
</div>

<div id="nav">
    <div class="nav_in">
        <ul>
            <li class="cur"><a href="/shop/toStoreIndex?shopId=${shopId?c}" >首页</a></li>
            <li class="cur"><a href="/shop/toStoreIndex?shopId=${shopId?c}">公司概况</a></li>
            <li class="cur"><a href="/shop/toStoreIndex?shopId=${shopId?c}">视频中心</a></li>
        </ul>
    </div>
</div>

<div id="video">
    <h4>视频中心</h4>
    <div class="vedio1">
        <video width="226" height="127" preload="none" controls >
            <source src="../images/sale/video/1.mp4" type="video/mp4">
        </video>
        <!--<span id="videoPalse"></span>-->
        <p>视频标题视频标题视频标题视</p>
    </div>

    <div class="mask-vedio">
        <button type="button" class="am-btn am-btn-secondary button8" data-am-modal="{target: '#doc-modal-8', closeViaDimmer: 0, width: 1190, height:500}">编辑</button>
        <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-8">
            <div class="am-modal-dialog" style="overflow-y: auto">
                <div class="am-modal-hd" >添加视频视频大小不超过100MB
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <div class="am-modal-bd addVedio">
                    <!--已上传-->
                    <!--<div class="addVedio-in">
                        <div class="vedio-left">
                            <video width="138" height="78">
                                <source src="../images/sale/video/2.mp4" type="video/mp4">
                            </video>
                            <a href="#" class="videoPalse"></a>
                        </div>
                        <div class="vedio-right">
                            <input type="text" placeholder="视频标题“视频标题视频标题”视频标题视频标题视频标题—视频标题">
                        </div>
                        <button class="am-btn btn1">编辑</button>
                        <button class="am-btn btn1">删除</button>
                    </div>-->
                    <!--重新上传-->
                    <!--<div class="addVedio-in">
                        <div class="vedio-left">
                            <video width="138" height="78">
                                <source src="../images/sale/video/2.mp4" type="video/mp4">
                            </video>
                            <a href="#" class="again">重新上传</a>
                        </div>
                        <div class="vedio-right">
                            <input type="text" placeholder="视频标题“视频标题视频标题”视频标题视频标题视频标题—视频标题">
                        </div>
                        <button class="am-btn am-btn-secondary" style="margin-top:24px;padding:5px 20px; font-size: 12px">保存</button>
                        <button class="am-btn btn1">删除</button>
                    </div>-->
                    <!--上传-->
                    <div class="addVedio-in">
                        <div class="vedio-left" id="vedio-left">
                            <span></span>
                            <div style=" position: relative;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上传视频
                                <label class="change-photo-btn">
                                    <input class="change-photo-btn" id="viewFile" type="file" accept="video/*" onchange="changeFile(this)" multiple style="position: absolute; top: 0; left: 0; opacity: 0; cursor: pointer; height: 40px; width: 88px; " >
                                </label>
                            </div>
                        </div>
                        <div class="vedio-left" id="vedio-left2" style="display: none;">
                            <video id="uploadVedio" width="138" height="78" >
                                <source src="" type="video/*">
                            </video>
                        </div>
                        <div class="vedio-right">
                            <input type="text" placeholder="视频标题" id="viewTitle">
                        </div>
                        <button class="am-btn am-btn-secondary" style="margin-top:24px;padding:5px 20px; font-size: 12px" onclick="saveView()">保存</button>
                    </div>
                    <div class="button" style="margin-left:94px ">
                        <button type="button" onclick="saveView()" class="am-btn am-btn-secondary" style="width: 140px" >保存</button>
                        <button type="button" onclick="history.go(0)" class="am-btn am-btn-default" style="width: 140px">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<#include "/sellerCenter/common/foot.html"/>
<script>
    //视频预览
    function changeFile(ele) {
        var video = ele.files[0];
        console.log(video);
        console.log("地址");
        var url = window.URL.createObjectURL(video);
        console.log(url);
        $("#vedio-left").attr("style","display:none;");
        $("#vedio-left2").attr("style","display:block;");
        document.getElementById("uploadVedio").src=url;
    };
    var formData;
    var file;
    //上传视频文件
    $('#viewFile').on('change', function () {
        file = this.files[0];
        var fileName = file.name;
        var fileMax = file.size;
        var fileType = fileName.substr(fileName.length - 4, fileName.length);
        if (fileType == '.mp4' ) {
            if(fileMax < 104857600 ){
                formData = new FormData()
                formData.append("file", file);
            }else {
                alert('文件须小于100M');
            }
        } else {
            alert('文件类型不正确,仅支持MP4格式');
        }
    });
    //商城视频
    /*function saveView(){
        formData = new FormData()
        formData.append("file", file);
        formData.append("viewTitle", $("#viewTitle").val());
        $.ajax({
            url: 'saveView',
            type: 'post',
            cache: false,
            data: formData,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function (data) {
                //上传成功的处理
                if (data.success) {
                    alert("上传成功")
                } else {
                    alert("上传失败：" + data.message);
                }
            }
        });
    }*/

    $("#logo").hover(function(){
        $(".logo-mask").show();

    })
    $(".logo-mask").mouseout(function(){
        $(".logo-mask").hide();
    })
    $(".button1").hover(function(){
        $(".logo-mask").off(
            "mouseout")
    });

    /*轮播图*/
    $(".side-left").hover(function(){
        $(".left-mask").show();

    })
    $(".left-mask").mouseout(function(){
        $(".left-mask").hide();
    })
    $(".button2").hover(function(){
        $(".left-mask").off("mouseout")
    });
    /*公司信息*/
    $(".right").hover(function(){
        $(".right-mask").show();

    })
    $(".right-mask").mouseout(function(){
        $(".right-mask").hide();
    })
    $(".button3").hover(function(){
        $(".right-mask").off("mouseout")
    });
    /*导航*/
    $("#nav").hover(function(){
        $(".mask-productTitle").show();

    })
    $(".mask-productTitle").mouseout(function(){
        $(".mask-productTitle").hide();
    })
    $(".button4").hover(function(){
        $(".mask-productTitle").off("mouseout")
    });
    /*产品*/
    $(".product").hover(function(){
        $(".mask-product").show();

    })
    $(".mask-product").mouseout(function(){
        $(".mask-product").hide();
    })
    $(".button5").hover(function(){
        $(".mask-product").off("mouseout")
    });
    /*头部导航*/
    $("#nav").hover(function(){
        $(".salenav-mask").show();

    })
    $(".salenav-mask").mouseout(function(){
        $(".salenav-mask").hide();
    })
    $(".button6").hover(function(){
        $(".salenav-mask").off("mouseout")
    });
    /*公司概况*/
    $(".company-left").hover(function(){
        $(".company-mask").show();

    })
    $(".company-mask").mouseout(function(){
        $(".company-mask").hide();
    })
    $(".button7").hover(function(){
        $(".company-mask").off("mouseout")
    });


    /*产品分类点击切换*/

    $(".Lnav-r01").click(function(){
        $(this).addClass("cur").siblings().removeClass("cur")
    })

    /*点击更换颜色*/

</script>
</body>
</html>
