<!doctype html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
   <title>店铺装修</title>
   <link rel="stylesheet" href="/static/AmazeUI-2.4.2/assets/css/amazeui.min.css">
   <link rel="stylesheet" href="/static/AmazeUI-2.4.2/assets/css/admin.css">
   <link rel="stylesheet" href="/static/css/sale/base.css">
   <link rel="stylesheet" href="/static/css/sale/sale-shop.css">
   <link rel="stylesheet" href="/static/css/sale/header-public.css">
   <link rel="stylesheet" href="/static/css/sale/sale-company.css">

   <script src="/static/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
   <script src="/static/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>

   <style>
      * {
         margin: 0px;
         padding: 0px;
         border: 0px;
         list-style: none;
      }
   </style>
</head>

<body style="background: #f5f5f5;">

<!-- 店铺装修top-->
<#include "/sellerCenter/common/header.html"/>

<div id="logo">
   <!--    <img src="../images/sale/shop1.png" alt="">-->
</div>
<div id="nav">
   <div class="nav_in">
      <ul>
         <li class="cur" onclick="switchPage(this,1);"><a href="#">首页</a></li>
         <li onclick="switchPage(this,2);"><a href="#">公司概况</a></li>
         <!--            <li><a href="">视频中心</a></li>-->
      </ul>
   </div>

</div>
<div id="shop-chart">
   <div class="chart_in">
      <div class="left">
         <div data-am-widget="slider" class="am-slider am-slider-a1 side-left" id="side-left"
              data-am-slider='{"directionNav":false}'>
            <ul class="am-slides" id="shop-chart-map">
               <!-- 图1 -->
               <li><img src="../images/sale/shop2.png" alt=""></li>
            </ul>
         </div>
      </div>
      <div class="right" id="right-company">
         <h4 id="companyName">浙江德聚仁和纺织品有限公司</h4>
         <!-- <div class="Collection">-->
         <!--     <span class="coll1">收藏</span>-->
         <!--     <span class="coll2">已收藏</span>-->
         <!-- </div>-->
         <div>
            <span class="one">联系电话：</span>
            <span class="two" id="linkPhone">xxxx</span>
         </div>
         <div>
            <span class="one">经营类目：</span>
            <span class="two" id="mainProducts">xxxx</span>
         </div>
         <div>
            <span class="one">联系地址：</span>
            <span class="two" id="companyAddress">xxxx</span>
         </div>
         <div>
            <span class="one">公司介绍：</span>
            <span class="two" style="line-height: 40px" id="companyInfo">xxxx</span>
         </div>
      </div>
   </div>
</div>
<div id="shop-product">
   <div class="product-in">
      <div class="product-title" id="product-title">
      </div>
      <!-- 产品列表-->
      <div class="product" style="text-align: center" id="product">
      </div>
   </div>
</div>
<!--公司概况-->
<div id="company" hidden>
   <h4>工商注册信息</h4>
   <div class="company-left">
      <div class="company-cloum1">
         <p class="left">统一社会信用代码/注册号：</p>
         <p class="right">91440300573137960X</p>
      </div>
      <div class="company-cloum1">
         <p class="left">公司名称：</p>
         <p class="right" id="company_name">浙江德聚仁和纺织品有限公司</p>
      </div>
      <div class="company-cloum1">
         <p class="left">注册地址：</p>
         <p class="right" id="company_address">深圳市龙岗区平湖街道上木古社区平新北路29号达尔讯科技工业园综合楼401</p>
      </div>
      <div class="company-cloum1">
         <p class="left">法定代表人：</p>
         <p class="right" id="company_corporate">郑秋冬</p>
      </div>
      <div class="company-cloum1">
         <p class="left">企业类型：</p>
         <p class="right" id="company_type">有限责任公司</p>
      </div>
      <div class="company-cloum1">
         <p class="left">经营期限：</p>
         <p class="right">2018-3-29~长期</p>
      </div>
      <div class="company-cloum1">
         <p class="left">经营范围：</p>
         <p class="right right1" id="business_scope">
            窗帘、布草、布艺产品、酒店用品、服装鞋帽、工艺礼品（**及其制品除外）、针纺织品、客房用品、通讯设备、办公设备、电子产品的购销；电子商务，信息咨询（不含限制项目）；国内贸易；货物及技术进出口。；布艺、饰品的设计、开发及加工、安装。</p>
      </div>
      <div class="company-cloum1">
         <p class="left">年报/年检情况：</p>
         <p class="right">2018年成立</p>
      </div>
      <div class="company-cloum1">
         <p class="left">成立日期：</p>
         <p class="right">2018-03-29</p>
      </div>
      <div class="company-cloum1">
         <p class="left">登记机关：</p>
         <p class="right">绍兴市市场监督管理局</p>
      </div>
      <div class="company-cloum1">
         <p class="left">申请人姓名：</p>
         <p class="right">贾女士</p>
      </div>
      <div class="company-cloum1">
         <p class="left">申请人部门：</p>
         <p class="right">销售部</p>
      </div>
      <div class="company-cloum1">
         <p class="left">申请人职位：</p>
         <p class="right">经理</p>
      </div>
   </div>
   <div class="company-right">
      <img src="../images/sale/shop43.png" alt="">
      <p style="color: #999; text-align: center">营业执照</p>
   </div>
</div>

<!-- 页尾 -->
<#include "/sellerCenter/common/foot.html"/>

<script type="text/javascript" src="/static/js/storeConstruction/storeConstruction.preview.js"></script>

</body>
</html>
