<!--菜单 -->
<div class=tip>
    <div id="sidebar">
        <div id="wrap">
            <div id="prof" class="item">
                <a href="/personalCenter/toPersonalCenter">
                    <span class="setting"></span>
                </a>
                <div class="ibar_login_box status_login">
                    <#if isLonIn?? && isLonIn != "N">
                    <div class="avatar_box">
                        <p class="avatar_imgbox"><img src="${loginAvatar!}" /></p>
                        <ul class="user_info">
                            <li>userName：${loginName!''}</li>
                            <li>Level：${loginLevel!''}</li>
                        </ul>
                    </div>
                    <div class="login_btnbox">
                        <a href="/orderManager/toOrderManager" class="login_order">My Orders</a>
                        <a href="/personalCenter/toFavoriteManage" class="login_favorite">My Collection</a>
                    </div>
                    <i class="icon_arrow_white"></i>
                    <#else>
                    <p>Not logged in &nbsp;Please<a href="/user/toLogin">sign in</a></p>
                    </#if>
                </div>

            </div>
            <div id="shopCart" class="item">
                <a href="/shopCar/getList">
                    <span class="message"></span>
                </a>
                <p>
                    Shopping Cart
                </p>
                <p class="cart_num">${shopCarCount!0}</p>
            </div>
            <div id="foot" class="item">
                <a href="/personalCenter/toFootPrintManage">
                    <span class="zuji"></span>
                </a>
                <div class="mp_tooltip">
                    My Tracks
                    <i class="icon_arrow_right_black"></i>
                </div>
            </div>

            <div class="quick_toggle">
                <li class="qtitem">
                    <a href="#"><span class="kfzx"></span></a>
                    <div class="mp_tooltip">Customer Service Center<i class="icon_arrow_right_black"></i></div>
                </li>
                <li class="qtitem">
                    <a href="#top" class="return_top"><span class="top"></span></a>
                </li>
            </div>

            <!--回到顶部 -->
            <div id="quick_links_pop" class="quick_links_pop hide"></div>

        </div>

    </div>
</div>