
<div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}' style="" >
    <ul class="am-slides" style="width: 990px; ">
        <li class="carousel-item"><img src="images/banner1.jpg" /></li>
        <li class="carousel-item"><img src="images/banner2.jpg" /></li>
        <li class="carousel-item"><img src="images/banner3.png" /></li>
        <li class="carousel-item"><img src="images/banner4.jpg" /></li>
    </ul>

    <div class="contain-r">
        <div class="contain-row4">
            <div class="person"></div>
            <div class="row4-r">
                <p style="margin-bottom: 6px">Welcome</p>
                <button type="button" class="btn-1" style="margin-bottom: 6px">login</button>
                <button type="button" class="btn-1">Register</button>
            </div>

        </div>
        <div class="contain-row1">
            <div class="fabu">
                <img src="images/发布求购.png" alt="" width="40">
                <p>Release</p>
            </div>
            <div class="shop">
                <img src="images/开通商铺.png" alt="" width="40">
                <p>Open</p>
            </div>
        </div>
        <div class="contain-row2">
            <div class="inf">
                <img src="images/发布信息.png" alt="" width="40">
                <p>Publish</p>
            </div>
            <div class="newpep">
                <img src="images/新手上路.png" alt="" width="40">
                <p>Guide</p>
            </div>
        </div>
        <div class="contain-row3">
            <button type="button" class="btn-1" style="margin-right: 6px;">My Inquiry</button>
            <button type="button" class="btn-1">Order Inquiry</button>
            <button type="button" class="btn-1" style="margin-right: 6px;">All Inquiries</button>
            <button type="button" class="btn-1">Message</button>
        </div>
    </div>
</div>


