<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soufang.mapper.EnquiryMapper" >
  <resultMap id="BaseResultMap" type="com.soufang.model.Enquiry" >
    <id column="enquiry_number" property="enquiryNumber" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="enquiry_title" property="enquiryTitle" jdbcType="VARCHAR" />
    <result column="enquiry_type" property="enquiryType" jdbcType="INTEGER" />
    <result column="enquiry_status" property="enquiryStatus" jdbcType="INTEGER" />
    <result column="take_date" property="takeDate" jdbcType="TIMESTAMP" />
    <result column="take_address" property="takeAddress" jdbcType="VARCHAR" />
    <result column="take_name" property="takeName" jdbcType="VARCHAR" />
    <result column="take_phone" property="takePhone" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="enquiry_remark" property="enquiryRemark" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="ResultMap" type="com.soufang.model.Enquiry" >
    <id column="enquiry_number" property="enquiryNumber" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="loginName" property="loginName" jdbcType="VARCHAR" />
    <result column="shopName" property="shopName" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="enquiry_title" property="enquiryTitle" jdbcType="VARCHAR" />
    <result column="enquiry_type" property="enquiryType" jdbcType="INTEGER" />
    <result column="enquiry_status" property="enquiryStatus" jdbcType="INTEGER" />
    <result column="take_date" property="takeDate" jdbcType="TIMESTAMP" />
    <result column="take_address" property="takeAddress" jdbcType="VARCHAR" />
    <result column="take_name" property="takeName" jdbcType="VARCHAR" />
    <result column="take_phone" property="takePhone" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="enquiry_remark" property="enquiryRemark" jdbcType="VARCHAR" />
    <collection property="shop" ofType="com.soufang.model.Shop">
      <id column="shop_id" property="shopId" jdbcType="BIGINT"/>
      <result column="user_id" property="userId" jdbcType="BIGINT"/>
      <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
      <result column="shop_level" property="shopLevel" jdbcType="INTEGER"/>
      <result column="shop_introduce" property="shopIntroduce" jdbcType="VARCHAR"/>
      <result column="shop_avatar_url" property="shopAvatarUrl" jdbcType="VARCHAR"/>
      <result column="business_scope" property="businessScope" jdbcType="VARCHAR"/>
      <result column="main_products" property="mainProducts" jdbcType="VARCHAR"/>
      <result column="shop_status" property="shopStatus" jdbcType="INTEGER"/>
      <result column="refuse_reason" property="refuseReason" jdbcType="VARCHAR"/>
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </collection>
    <collection property="enquiryProducts" ofType="com.soufang.model.EnquiryProduct">
      <id column="enquiry_product_id" property="enquiryProductId" jdbcType="BIGINT" />
      <result column="enquiry_number" property="enquiryNumber" jdbcType="VARCHAR" />
      <result column="product_name" property="productName" jdbcType="VARCHAR" />
      <result column="product_assort" property="productAssort" jdbcType="BIGINT" />
      <result column="assort_name" property="assortName" jdbcType="VARCHAR" />
      <result column="product_number" property="productNumber" jdbcType="BIGINT" />
      <result column="product_unit" property="productUnit" jdbcType="VARCHAR" />
      <result column="product_image" property="productImage" jdbcType="VARCHAR" />
      <collection property="purchases" ofType="com.soufang.model.Purchase">
        <id column="purchase_number" property="purchaseNumber" jdbcType="VARCHAR" />
        <result column="shop_id" property="shopId" jdbcType="BIGINT" />
        <result column="enquiry_product_id" property="enquiryProductId" jdbcType="BIGINT" />
        <result column="unit_price" property="unitPrice" jdbcType="DECIMAL" />
        <result column="sum_price" property="sumPrice" jdbcType="DECIMAL" />
        <result column="offer_status" property="offerStatus" jdbcType="INTEGER" />
        <result column="offer_time" property="offerTime" jdbcType="TIMESTAMP" />
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
      </collection>
      <collection property="assort" ofType="com.soufang.model.Assort">
        <id column="assort_id" property="assortId" jdbcType="BIGINT"/>
        <result column="assort_name" property="assortName" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="assort_level" property="assortLevel" jdbcType="INTEGER"/>
        <result column="key1" property="key1" jdbcType="VARCHAR"/>
        <result column="key2" property="key2" jdbcType="VARCHAR"/>
        <result column="key3" property="key3" jdbcType="VARCHAR"/>
        <result column="key4" property="key4" jdbcType="VARCHAR"/>
        <result column="key5" property="key5" jdbcType="VARCHAR"/>
      </collection>
    </collection>
  </resultMap>


  <resultMap id="DetailResultMap" type="com.soufang.model.Enquiry" >
    <id column="enquiry_number" property="enquiryNumber" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="loginName" property="loginName" jdbcType="VARCHAR" />
    <result column="shopName" property="shopName" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="enquiry_title" property="enquiryTitle" jdbcType="VARCHAR" />
    <result column="enquiry_type" property="enquiryType" jdbcType="INTEGER" />
    <result column="enquiry_status" property="enquiryStatus" jdbcType="INTEGER" />
    <result column="take_date" property="takeDate" jdbcType="TIMESTAMP" />
    <result column="take_address" property="takeAddress" jdbcType="VARCHAR" />
    <result column="take_name" property="takeName" jdbcType="VARCHAR" />
    <result column="take_phone" property="takePhone" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="enquiry_remark" property="enquiryRemark" jdbcType="VARCHAR" />
    <collection property="enquiryProducts" ofType="com.soufang.model.EnquiryProduct">
      <id column="enquiry_product_id" property="enquiryProductId" jdbcType="BIGINT" />
      <result column="enquiry_number" property="enquiryNumber" jdbcType="VARCHAR" />
      <result column="product_name" property="productName" jdbcType="VARCHAR" />
      <result column="product_assort" property="productAssort" jdbcType="BIGINT" />
      <result column="assort_name" property="assortName" jdbcType="VARCHAR" />
      <result column="product_number" property="productNumber" jdbcType="BIGINT" />
      <result column="product_unit" property="productUnit" jdbcType="VARCHAR" />
      <result column="product_image" property="productImage" jdbcType="VARCHAR" />
      <collection property="purchases" ofType="com.soufang.model.Purchase">
        <id column="purchase_number" property="purchaseNumber" jdbcType="VARCHAR" />
        <result column="shop_id" property="shopId" jdbcType="BIGINT" />
        <result column="enquiry_product_id" property="enquiryProductId" jdbcType="BIGINT" />
        <result column="unit_price" property="unitPrice" jdbcType="DECIMAL" />
        <result column="sum_price" property="sumPrice" jdbcType="DECIMAL" />
        <result column="offer_status" property="offerStatus" jdbcType="INTEGER" />
        <result column="offer_time" property="offerTime" jdbcType="TIMESTAMP" />
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <collection property="shop" ofType="com.soufang.model.Shop">
        <id column="shop_id" property="shopId" jdbcType="BIGINT"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
      </collection>
      </collection>
      <collection property="assort" ofType="com.soufang.model.Assort">
        <id column="assort_id" property="assortId" jdbcType="BIGINT"/>
        <result column="assort_name" property="assortName" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="assort_level" property="assortLevel" jdbcType="INTEGER"/>
        <result column="key1" property="key1" jdbcType="VARCHAR"/>
        <result column="key2" property="key2" jdbcType="VARCHAR"/>
        <result column="key3" property="key3" jdbcType="VARCHAR"/>
        <result column="key4" property="key4" jdbcType="VARCHAR"/>
        <result column="key5" property="key5" jdbcType="VARCHAR"/>
      </collection>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    enquiry_number, user_id,enquiry_title, enquiry_type, enquiry_status, take_date,
    take_address, take_name, take_phone, end_time, create_time, enquiry_remark
  </sql>
  <sql id="Return_column_list" >
    enquiry_number, user_id,GetUserNameByUserId(user_id) as loginName,GetShopNameByUser_Id(user_id) AS shopName,enquiry_title, enquiry_type, enquiry_status, take_date,
    take_address, take_name, take_phone, end_time, create_time, enquiry_remark
  </sql>
  <select id="getByEnqNum" resultMap="DetailResultMap" parameterType="com.soufang.base.search.enquiry.EnquirySo" >
    select * from t_enquiry te
    left JOIN t_enquiry_product tep on tep.enquiry_number=te.enquiry_number
    LEFT JOIN t_purchase tp on tp.enquiry_product_id = tep.enquiry_product_id
    LEFT JOIN t_assort ta on ta.assort_id=tep.product_assort
    LEFT JOIN t_shop ts ON ts.shop_id=tp.shop_id
    where 1=1
    <if test="enquiryNumber != null and enquiryNumber != ''">
      and te.enquiry_number=#{enquiryNumber,jdbcType=VARCHAR}
    </if>
    <if test="enquiryProductId != null and enquiryProductId != ''">
      and tep.enquiry_product_id=#{enquiryProductId}
    </if>
    <if test="shopId != null and shopId != '' ">
      and tp.shop_id = #{shopId}
    </if>
  </select>

  <select id="enquiryTableCount" resultMap="ResultMap" parameterType="com.soufang.base.search.enquiry.EnquirySo">
      select
          *
        from t_enquiry te
    LEFT JOIN t_enquiry_product tep on te.enquiry_number=tep.enquiry_number
    LEFT JOIN t_assort ta on tep.product_assort=ta.assort_id
         where
             te.enquiry_status!=0 and te.end_time > (select now())
        <if test="userId != null and userId !=''">
          AND  te.user_id =#{userId}
        </if>
    <if test="assortId != 0 and assortId != 0">
      and ta.assort_id=#{assortId}
    </if>
    <if test="enquiryStatus != null and enquiryStatus != ''">
      and te.enquiry_status = #{enquiryStatus}
    </if>
  </select>
  <!--查询询盘列表数据/没有存贮增加询盘时用户的商铺信息-->
  <!--对报价截止日期查询做判断-需要传两个值-1.endTime参数是什么查询-2.orderType判断是什么排序方式-->
  <!--根据orderType参数排序-1.有值则是动态倒正查询-2.没值则是所有公用查询方式-->
  <select id="getList" resultMap="ResultMap"  parameterType="com.soufang.base.search.enquiry.EnquirySo">
    select
      *
    from t_enquiry te
      LEFT JOIN t_enquiry_product tep on te.enquiry_number=tep.enquiry_number
      LEFT JOIN t_purchase tp on tep.enquiry_product_id = tp.enquiry_product_id
      LEFT JOIN t_assort ta on tep.product_assort=ta.assort_id
      LEFT JOIN t_shop ts on ts.user_id=te.user_id
    where
      te.enquiry_status!=0 and te.end_time > (select now())
    <if test="userId != null and userId !=''">
      AND  te.user_id =#{userId}
    </if>
    <if test="shopId != null and shopId != '' ">
      and tp.shop_id = #{shopId}
    </if>
    <if test="assortId != 0 and assortId != 0">
      and ta.assort_id=#{assortId}
    </if>
    <if test="enquiryStatus != null and enquiryStatus != ''">
      and te.enquiry_status = #{enquiryStatus}
    </if>
      ORDER BY
      <choose>
        <when test="endTimeSort != '' and endTimeSort !=''">
            te.end_time ${orderType}
        </when>
        <otherwise>
          <choose>
            <when test="orderType != '' and orderType !=null">
              te.create_time ${orderType}
            </when>
             <otherwise>
               te.create_time DESC
             </otherwise>
          </choose>
        </otherwise>
      </choose>
     LIMIT #{page},#{limit};
  </select>

  <select id="getMyQuoteCount" resultType="java.lang.Integer" parameterType="com.soufang.base.search.enquiry.EnquirySo">
    select count(1)
    from t_enquiry te LEFT JOIN t_enquiry_product tep on te.enquiry_number=tep.enquiry_number
    left JOIN t_purchase tp on tp.enquiry_product_id=tep.enquiry_product_id
    RIGHT JOIN t_assort ta on tep.product_assort=ta.assort_id
    where te.enquiry_status!=0
    <if test="userId != null and userId != 0 ">
      and te.user_id =#{userId}
    </if>
    <if test="enquiryStatus != null and enquiryStatus != ''">
      and enquiry_status = #{enquiryStatus}
    </if>
    <if test="shopId != null and shopId != 0 ">
      and tp.shop_id = #{shopId}
    </if>
    and end_time > (select now())
  </select>

  <select id="getQuoteDetail" resultMap="ResultMap" parameterType="java.lang.Long">
    select
      tep.*,te.enquiry_title,te.create_time,te.enquiry_status,te.take_address,tp.*,tu.login_name
      from t_enquiry_product tep LEFT JOIN t_enquiry te on tep.enquiry_number=te.enquiry_number
      left JOIN t_purchase tp on tep.enquiry_product_id=tp.enquiry_product_id LEFT  JOIN t_user tu on te.user_id=tu.user_id
      where tep.enquiry_product_id = #{enquiryProductId,jdbcType=BIGINT}
  </select>

  <select id="selDetailEnquiryAndProAndPur" resultMap="ResultMap" parameterType="java.lang.String">
   select * from t_enquiry te
    left JOIN t_enquiry_product tep on tep.enquiry_number=te.enquiry_number
    LEFT JOIN t_purchase tp on tp.enquiry_product_id = tep.enquiry_product_id
    where te.enquiry_number=#{enquiryNumber,jdbcType=VARCHAR}
  </select>

  <select id="getCount" resultType="java.lang.Integer" parameterType="com.soufang.base.search.enquiry.EnquirySo">
    select count(1)
    from t_enquiry where 1=1 AND user_id =#{userId} AND enquiry_status!=0
    <if test="enquiryStatus != null and enquiryStatus != ''">
      and enquiry_status like concat(concat('%',#{enquiryStatus}),'%')
    </if>
    and end_time > (select now())
  </select>

  <update id="passed" parameterType="java.lang.String">
    update t_enquiry set enquiry_status = 3 where enquiry_number = #{enquiryNumber,jdbcType=VARCHAR}
  </update>

  <update id="refuse" parameterType="java.lang.String">
    update t_enquiry set enquiry_status = 2 where enquiry_number = #{enquiryNumber,jdbcType=VARCHAR}
  </update>

  <update id="banQuote" parameterType="java.lang.String">
    update t_enquiry set enquiry_status = -1 where enquiry_number = #{enquiryNumber,jdbcType=VARCHAR}
  </update>

  <update id="regainQuote" parameterType="java.lang.String">
    update t_enquiry set enquiry_status = 1 where enquiry_number = #{enquiryNumber,jdbcType=VARCHAR}
  </update>

  <update id="delEnquiry" parameterType="com.soufang.base.search.enquiry.EnquirySo">
    UPDATE t_enquiry SET enquiry_status =#{enquiryStatus} where enquiry_number = #{enquiryNumber}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_enquiry
    where enquiry_number = #{enquiryNumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.soufang.model.Enquiry" >
    insert into t_enquiry (enquiry_number, user_id, enquiry_title, 
      enquiry_type, enquiry_status, take_date, 
      take_address, take_name, take_phone, 
      end_time, create_time, enquiry_remark
      )
    values (#{enquiryNumber}, #{userId}, #{enquiryTitle},
      #{enquiryType}, #{enquiryStatus}, #{takeDate},
      #{takeAddress}, #{takeName}, #{takePhone},
      #{endTime}, #{createTime}, #{enquiryRemark}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.soufang.model.Enquiry" >
    insert into t_enquiry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="enquiryNumber != null" >
        enquiry_number,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="enquiryTitle != null" >
        enquiry_title,
      </if>
      <if test="enquiryType != null" >
        enquiry_type,
      </if>
      <if test="enquiryStatus != null" >
        enquiry_status,
      </if>
      <if test="takeDate != null" >
        take_date,
      </if>
      <if test="takeAddress != null" >
        take_address,
      </if>
      <if test="takeName != null" >
        take_name,
      </if>
      <if test="takePhone != null" >
        take_phone,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="enquiryRemark != null" >
        enquiry_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="enquiryNumber != null" >
        #{enquiryNumber,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="enquiryTitle != null" >
        #{enquiryTitle,jdbcType=VARCHAR},
      </if>
      <if test="enquiryType != null" >
        #{enquiryType,jdbcType=INTEGER},
      </if>
      <if test="enquiryStatus != null" >
        #{enquiryStatus,jdbcType=INTEGER},
      </if>
      <if test="takeDate != null" >
        #{takeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="takeAddress != null" >
        #{takeAddress,jdbcType=VARCHAR},
      </if>
      <if test="takeName != null" >
        #{takeName,jdbcType=VARCHAR},
      </if>
      <if test="takePhone != null" >
        #{takePhone,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enquiryRemark != null" >
        #{enquiryRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.soufang.model.Enquiry" >
    update t_enquiry
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="enquiryTitle != null" >
        enquiry_title = #{enquiryTitle,jdbcType=VARCHAR},
      </if>
      <if test="enquiryType != null" >
        enquiry_type = #{enquiryType,jdbcType=INTEGER},
      </if>
      <if test="enquiryStatus != null" >
        enquiry_status = #{enquiryStatus,jdbcType=INTEGER},
      </if>
      <if test="takeDate != null" >
        take_date = #{takeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="takeAddress != null" >
        take_address = #{takeAddress,jdbcType=VARCHAR},
      </if>
      <if test="takeName != null" >
        take_name = #{takeName,jdbcType=VARCHAR},
      </if>
      <if test="takePhone != null" >
        take_phone = #{takePhone,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enquiryRemark != null" >
        enquiry_remark = #{enquiryRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where enquiry_number = #{enquiryNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soufang.model.Enquiry" >
    update t_enquiry
    set user_id = #{userId,jdbcType=BIGINT},
      enquiry_title = #{enquiryTitle,jdbcType=VARCHAR},
      enquiry_type = #{enquiryType,jdbcType=INTEGER},
      enquiry_status = #{enquiryStatus,jdbcType=INTEGER},
      take_date = #{takeDate,jdbcType=TIMESTAMP},
      take_address = #{takeAddress,jdbcType=VARCHAR},
      take_name = #{takeName,jdbcType=VARCHAR},
      take_phone = #{takePhone,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      enquiry_remark = #{enquiryRemark,jdbcType=VARCHAR}
    where enquiry_number = #{enquiryNumber,jdbcType=VARCHAR}
  </update>

  <select id="selUserIdByEnquiryNumber" resultType="java.lang.Long" parameterType="java.lang.String">
      SELECT user_id FROM t_enquiry WHERE enquiry_number=#{enquiryNumber}
  </select>

  <select id="getIndexEnquiryList" resultMap="ResultMap"  parameterType="com.soufang.base.search.enquiry.EnquirySo">
    select distinct
    *
    from t_enquiry te
    LEFT JOIN t_enquiry_product tep on te.enquiry_number=tep.enquiry_number
    LEFT JOIN t_purchase tp on tep.enquiry_product_id = tp.enquiry_product_id
    LEFT JOIN t_assort ta on tep.product_assort=ta.assort_id
    LEFT JOIN t_shop ts on ts.user_id=te.user_id
    where
    te.enquiry_status!=0 and te.end_time > (select now()) and te.enquiry_status!=5 and te.enquiry_status!=4
    ORDER BY te.create_time desc
    LIMIT #{page},#{limit}
  </select>
</mapper>