<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soufang.mapper.FootPrintMapper" >
  <resultMap id="BaseResultMap" type="com.soufang.model.FootPrint" >
    <id column="footprint_id" property="footprintId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="ResultMap" type="com.soufang.model.FootPrint" >
    <id column="footprint_id" property="footprintId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <collection property="product" ofType="com.soufang.model.Product">
  <id column="product_id" property="productId" jdbcType="BIGINT"/>
  <result column="shop_id" property="shopId" jdbcType="BIGINT"/>
  <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
  <result column="product_name" property="productName" jdbcType="VARCHAR"/>
  <result column="is_upper" property="isUpper" jdbcType="INTEGER"/>
  <result column="assort_id" property="assortId" jdbcType="BIGINT"/>
  <result column="product_json" property="productJson" jdbcType="VARCHAR"/>
  <result column="product_unit" property="productUnit" jdbcType="VARCHAR"/>
  <result column="product_detail" property="productDetail" jdbcType="VARCHAR"/>
  <result column="product_image" property="productImage" jdbcType="VARCHAR"/>
  <result column="product_level" property="productLevel" jdbcType="INTEGER"/>
  <result column="product_send_country" property="productSendCountry" jdbcType="VARCHAR"/>
  <result column="product_send_province" property="productSendProvince" jdbcType="VARCHAR"/>
  <result column="product_send_city" property="productSendCity" jdbcType="VARCHAR"/>
  <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
  <result column="key1" property="key1" jdbcType="VARCHAR"/>
  <result column="key1_value" property="key1Value" jdbcType="VARCHAR"/>
  <result column="key2" property="key2" jdbcType="VARCHAR"/>
  <result column="key2_value" property="key2Value" jdbcType="VARCHAR"/>
  <result column="key3" property="key3" jdbcType="VARCHAR"/>
  <result column="key3_value" property="key3Value" jdbcType="VARCHAR"/>
  <result column="key4" property="key4" jdbcType="VARCHAR"/>
  <result column="key4_value" property="key4Value" jdbcType="VARCHAR"/>
  <result column="key5" property="key5" jdbcType="VARCHAR"/>
  <result column="key5_value" property="key5Value" jdbcType="VARCHAR"/>
    </collection>
    <collection property="shop" ofType="com.soufang.model.Shop">
      <id column="shop_id" property="shopId" jdbcType="BIGINT"/>
      <result column="user_id" property="userId" jdbcType="BIGINT"/>
      <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
      <result column="shop_level" property="shopLevel" jdbcType="INTEGER"/>
      <result column="shop_introduce" property="shopIntroduce" jdbcType="VARCHAR"/>
      <result column="shop_avatar_url" property="shopAvatarUrl" jdbcType="VARCHAR"/>
      <result column="business_scope" property="businessScope" jdbcType="VARCHAR"/>
      <result column="main_products" property="mainProducts" jdbcType="VARCHAR"/>
      <result column="shop_status" property="shopStatus" jdbcType="INTEGER"/>
      <result column="refuse_reason" property="refuseReason" jdbcType="VARCHAR"/>
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </collection>
    <collection property="productStatistics" ofType="com.soufang.model.ProductStatistics" >
      <id column="product_statistics_id" property="productStatisticsId" jdbcType="BIGINT" />
      <result column="product_id" property="productId" jdbcType="BIGINT" />
      <result column="collection_number" property="collectionNumber" jdbcType="BIGINT" />
      <result column="browse_number" property="browseNumber" jdbcType="BIGINT" />
      <result column="deal_number" property="dealNumber" jdbcType="BIGINT" />
      <result column="product_price" property="productPrice" jdbcType="VARCHAR" />
      <result column="product_stock" property="productStock" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    footprint_id, user_id, product_id, shop_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_footprint
    where footprint_id = #{footprintId}
  </select>

  <select id="getFootPrintList" parameterType="com.soufang.base.search.footPrint.FootPrintSo" resultMap="ResultMap">
    select
        tf.*,tp.*,tof.*,tps.*
    FROM t_footprint tf
    INNER JOIN t_product tp on tf.product_id=tp.product_id
    LEFT JOIN t_shop tof on tf.shop_id=tf.shop_id
    left join t_product_statistics tps on tps.product_id=tp.product_id
    WHERE 1=1 AND  tf.user_id =#{userId}
    ORDER BY tf.create_time LIMIT #{page},#{limit};
  </select>

  <!--查询一周之内的数据-->
  <select id="selFootPrintOneWeek" parameterType="com.soufang.base.search.footPrint.FootPrintSo" resultMap="ResultMap">
    select
    t1.*,tp.*,tof.*,tps.*
    FROM (select * from t_footprint where user_id=#{userId})t1
    inner JOIN t_product tp on t1.product_id=tp.product_id
    LEFT JOIN t_shop tof on t1.shop_id=tof.shop_id
    left join t_product_statistics tps on tps.product_id=tp.product_id
    WHERE
    DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(t1.create_time) ORDER BY t1.create_time desc;
  </select>

  <select id="getFoPtCount" resultType="java.lang.Integer" parameterType="com.soufang.model.FootPrint">
    select count(1) from t_footprint WHERE 1=1 AND  user_id =#{userId}
  </select>

  <select id="iSExistFavoriteId" resultType="java.lang.Long" parameterType="com.soufang.model.FootPrint" >
    select favoriteId from t_favorite
    where user_id=#{userId}
    and favorite_target_id= #{favoriteTargetId}
    and favorite_target_name=#{favoriteTargetName}
    and favorite_target_type=#{favoriteTargetType}

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_footprint
    where footprint_id = #{footprintId}
  </delete>
  <insert id="insert" parameterType="com.soufang.model.FootPrint" >
    insert into t_footprint (footprint_id, user_id, product_id, 
      shop_id, create_time)
    values (#{footprintId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{shopId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.soufang.model.FootPrint" >
    insert into t_footprint
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="footprintId != null" >
        footprint_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="footprintId != null" >
        #{footprintId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.soufang.model.FootPrint" >
    update t_footprint
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where footprint_id = #{footprintId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soufang.model.FootPrint" >
    update t_footprint
    set user_id = #{userId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      shop_id = #{shopId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where footprint_id = #{footprintId,jdbcType=BIGINT}
  </update>
</mapper>