<@override name="title">
评价管理
</@override>

<@override name="css">
    <link rel="stylesheet" href="${contextPath}/css/sale/sale_personal.css">
    <link rel="stylesheet" href="${contextPath}/css/sale/sale_order.css">
    <link rel="stylesheet" href="${contextPath}/css/sale/sale_evaluate.css">
    <link rel="stylesheet" href="/static/Pagination/css/jquery.pagination.css">
</@override>
<@override name="body">
<div id="sale_center">
    <div class="sale_aside">
        <!--引入左边菜单-->
        <#include "/sellerCenter/common/seller.menu.html"/>
        <div class="sale_con">
            <ol class="am-breadcrumb">
                <li><a href="/sellerCenter/toIndex">卖家工作台</a></li>
                <li><a href="#">评价管理</a></li>
            </ol>
            <div class="sale_down">

                <div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>
                    <!--头部-->
                    <ul class="am-avg-sm-4 am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a onclick="changeData(1,null)">全部评价</a></li>
                        <li><a onclick="changeData(1,3)">好评</a></li>
                        <li><a onclick="changeData(1,2)">中评</a></li>
                        <li><a onclick="changeData(1,1)">差评</a></li>
                    </ul>
                    <!--全部评价-->
                    <div class="am-tab-panel am-active" >
                        <div class="order-top">
                            <div class="th th-price">
                                <td class="td-inner">类型</td>
                            </div>
                            <div class="th th-item">
                                <td class="td-inner">评价内容</td>
                            </div>
                            <div class="th th-price">
                                <td class="td-inner">评价人</td>
                            </div>
                            <div class="th th-amount">
                                <td class="td-inner">产品名</td>
                            </div>
                        </div>
                        <!--好评-->
                        <div id="assessList" >

                            </div>
                        <div id="pageManage">
                            <div id="pagination" style="text-align: center"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</@override>

<@override name="js">
<script type="text/javascript" src="/static/Pagination/js/jquery.pagination.js"></script>
<script type="text/javascript">
    $(".item-operation").click(function(){
        $(".modify").toggle();
    });

    // pagination 分页插件
    function PageCallback(index) {     //前一个表示您当前点击的那个分页的页数索引值，后一个参数表示装载容器。
        changeData(index+1,assessType);
    }

    $(function () {
        changeData(1,null);
    })

    var count;//总的数目
    var allPage;//总页数
    var pageData = 5;//每页显示的条数
    var assessType;//当前评价类型  1差评 2 中评  3好评
    function changeData(page,type) {
        var data = {
            page: page,//页码
            type:type,//评价类型
        };
        $.ajax({
            url: '/sellerCenter/getAssess',
            type: 'post',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (data) {
                count = data.count;
                allPage = (data.count % pageData == 0) ? (data.count / pageData) : ((parseInt(data.count / pageData)) + 1);
                if (allPage == 0) {
                    allPage = 1;
                }
                pageNo = page;
                assessType = type;
                $("#assessList").empty();
                var assessList = '';
                for(var i = 0; i < data.data.length; i++){
                        assessList +='<div class="order-main">\n' +
                            '                            <div class="order-list" >\n' +
                            '                               <div class="order-status1"> \n' +
                            '                                    <div class="order-content">\n' +
                            '                                          <div class="order-left" >'+
                            '<ul class="item-list">';
                    if(data.data[i].assessType == 1 ){
                        assessList +='<li class="td td-price">\n' +
'                                       <div class="item-price">\n' +
'                                            <p class="item-pic5"></p>\n' +
'                                       </div>\n' +
'                                      </li>';
                    }else if(data.data[i].assessType == 2 ){
                        assessList +='<li class="td td-price">\n' +
'                                        <div class="item-price">\n' +
'                                            <p class="item-pic4"></p>\n' +
'                                        </div>\n' +
'                                     </li>';
                    }else if(data.data[i].assessType == 3 ){
                        assessList += '<li class="td td-price">\n' +
'                                         <div class="item-price">\n' +
'                                              <p class="item-pic3"></p>\n' +
'                                         </div>\n' +
'                                      </li>';
                    }
                    assessList += '<li class="td td-item">\n' +
'                                      <div class="item-info">\n' +
'                                           <div class="item-basic-info">\n' +
'                                                <p>'+data.data[i].assessContent+'</p>\n' +
'                                                <p style="color: #999; margin-top: 10px">'+data.data[i].strCreateTime+'</p>\n' +
'                                            </div>\n' +
'                                       </div>\n' +
'                                   </li>\n' +
'                                   <li class="td td-price">\n' +
'                                       <div class="item-price">\n' +
'                                            <p>'+data.data[i].loginName+'</p>\n' +
'                                            <p class="item-pic2"></p>\n' +
'                                        </div>\n' +
'                                   </li>\n' +
'                                   <li class="td td-amount">\n' +
'                                       <div class="item-inner">\n' +
'                                             '+data.data[i].productName+'\n' +
'                                        </div>\n' +
'                                    </li>';
                    assessList +='</ul>' +
                        '</div>\n' +
                        '                   </div>\n' +
                        '                   </div>\n' +
                        '                  </div>\n' +
                        '                    </div>';
                }

                $("#pagination").pagination(count, {   //total(一共多少条记录)不能少
                    current_page:page-1,                  //当前页码
                    callback: PageCallback,
                    prev_text: '上一页',
                    next_text: '下一页',
                    items_per_page: 5,             //每页显示最大条数
                    num_display_entries: 4,        //连续分页主体部分显示的分页条目数
                    num_edge_entries: 1,           //两侧显示的首尾分页的条目数
                });
                $('#assessList').append(assessList);
            },
            error:function () {
                alert("请求发送失败");
            }
        });
    }
</script>
</@override>
<@extends name="/common/layout/base.sellerCenter.html"/>