<@override name="title">
我的消息
</@override>

<@override name="css">

</@override>

<@override name="body">

<div id="sale_center">
    <div class="sale_aside">
        <!--引入左边菜单-->
        <#include "/sellerCenter/common/seller.menu.html"/>
        <div class="sale_con">
            <ol class="am-breadcrumb">
                <li><a href="/sellerCenter/toIndex">卖家工作台</a></li>
                <li><a href="/sellerCenter/toGetMyNews">消息详情</a></li>
            </ol>

        </div>
    </div>
</div>

</@override>

<@override name="js">

</@override>
<@extends name="/common/layout/base.sellerCenter.html"/>