<@override name="title">
List of products
</@override>

<@override name="css">
<link rel="stylesheet" href="${contextPath}/css/sale/product-list.css">
<link rel="stylesheet" href="${contextPath}/css/sale/sale_order.css">
<link rel="stylesheet" href="${contextPath}/css/sale/sale_personal.css">
<link rel="stylesheet" href="/static/Pagination/css/jquery.pagination.css">


</@override>
<@override name="body">
<div id="sale_center">
    <div class="sale_aside">
        <!--引入左边菜单-->
        <#include "/sellerCenter/common/seller.menu.html"/>
        <div class="sale_con">
            <ol class="am-breadcrumb">
                <li><a href="/sellerCenter/toIndex">Seller's workbench</a></li>
                <li><a href="/sellerCenter/toProductList">List of products</a></li>
            </ol>
            <div class="sale_down">
                <!--全部的订单-->
                <div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>
                    <!--头部-->
                    <ul class="am-avg-sm-3 am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a onclick="changeData(1,null)">All products</a></li>
                        <li><a onclick="changeData(1,1)">On sale</a></li>
                        <li><a onclick="changeData(1,0)">In the warehouse</a></li>

                    </ul>
                    <div class="cloum1">
                        <form class="am-form am-form-horizontal am-u-sm-6">
                            <label for="doc-ipt-3" class="am-u-sm-3 am-form-label">Name：</label>
                            <div class="am-form-group am-u-sm-9">
                                <input type="text" id="doc-ipt-3" placeholder="Please enter the product name">
                            </div>
                        </form>
                        <form class="am-form am-form-horizontal am-u-sm-6">
                            <label for="doc-ipt-3" class="am-u-sm-3 am-form-label">Updatetimed：</label>
                            <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd'}"
                                 style="margin-left:26.5%;width: 260px;position: absolute;">
                                        <span class="am-input-group-btn am-datepicker-add-on">
                                            <input type="text" id="doc-ipt-4" class="am-form-field"
                                                   placeholder="Please select the start time" style="position: absolute;width: 130px;">
                                        </span>
                            </div>
                            <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd'}"
                                 style="margin-left:26.5%;width: 260px;position: absolute;">
                                        <span class="am-input-group-btn am-datepicker-add-on">
                                            <input type="text" id="doc-ipt-5" class="am-form-field"
                                                   placeholder="Please select the end time" style="width: 130px;margin-left: 140px;">
                                        </span>
                            </div>
                        </form>
                    </div>
                    <div class="cloum1">
                        <button type="button" class="am-btn am-btn-secondary" style="width:140px"
                                onclick="changeData(1,null)">Search
                        </button>
                    </div>
                    <div class="am-tab-panel am-active">
                        <!--全部产品-->
                        <div class="am-tab-panel am-fade am-in am-active">
                            <div class="am-tab-up" id="smallMenu">
                            </div>
                            <div class="order-top" id="listTop">
                                <div class="th th-number">
                                    <label>
                                        <input type="checkbox" id="quanxuan">
                                    </label>
                                    <td class="td-inner">Full selection</td>
                                </div>
                                <div class="th th-item">
                                    <td class="td-inner">Product information</td>
                                </div>
                                <div class="th th-price">
                                    <td class="td-inner">Price</td>
                                </div>
                                <div class="th th-amount">
                                    <td class="td-inner">Inventory</td>
                                </div>
                                <div class="th th-amount">
                                    <td class="td-inner">Sales</td>
                                </div>
                                <div class="th th-price">
                                    <td class="td-inner">Creation time</td>
                                </div>
                                <div class="th th-operation">
                                    <td class="td-inner">Operation</td>
                                </div>
                            </div>
                            <div class="order-main">
                                <div class="order-list">
                                    <div class="order-status1">
                                        <div class="order-content">
                                            <div class="order-left" id="productList">

                                            </div>
                                            <div id="pageManage">
                                                <div id="pagination" style="text-align: center"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</@override>

<@override name="js">
<script type="text/javascript" src="/static/Pagination/js/jquery.pagination.js"></script>
<script type="text/javascript">
    $(".item-operation").click(function () {
        $(".modify").toggle();
    });

    // pagination 分页插件
    function PageCallback(index) {     //前一个表示您当前点击的那个分页的页数索引值，后一个参数表示装载容器。
        changeData(index + 1, isUp);
    }

    $("#quanxuan").click(function () {//给全选按钮加上点击事件
        var xz = $(this).prop("checked");//判断全选按钮的选中状态
        var ck = $(".qx").prop("checked", xz);  //让class名为qx的选项的选中状态和全选按钮的选中状态一致。
    });

    //初始化
    $(function () {
        //初始化页面
        changeData(1, null);

    });
    var count;//总的数目
    var allPage;//总页数
    var pageData = 5;//每页显示的条数
    var isUp;//当前产品是否上架   1上架    0 下架
    function changeData(page, productIsUp) {
        var data = {
            page: page,//页码
            isUpper: productIsUp,//产品是否上架
            productName: $("#doc-ipt-3").val(),//产品名
            startDate: $("#doc-ipt-4").val(),//起始日期
            endDate: $("#doc-ipt-5").val(),//截至日期
        };
        $.ajax({
            url: '/sellerCenter/getProductList',
            type: 'post',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (data) {
                count = data.count;
                allPage = (data.count % pageData == 0) ? (data.count / pageData) : ((parseInt(data.count / pageData)) + 1);
                if (allPage == 0) {
                    allPage = 1;
                }
                pageNo = page;
                isUp = productIsUp;
                $("#smallMenu").empty();
                var smallMenu = '';
                if (productIsUp == null) {
                    smallMenu += '<button type="button" onclick="putUp(pageNo,isUp)">Shelves</button>' +
                        '                    <button type="button" onclick="getDown(pageNo,isUp)">Off the shelf</button>' +
                        '                    <button type="button" onclick="getValue(pageNo,isUp)">Release</button>' +
                        '                    <button type="button" onclick="deleteProduct(pageNo,isUp)">Delete</button>';
                } else if (productIsUp == 1) {
                    smallMenu += '<button type="button" onclick="getDown(pageNo,isUp)">Off the shelf</button>' +
                        '                             <button type="button" onclick="deleteProduct(pageNo,isUp)">Delete</button>';
                } else {
                    smallMenu += '<button type="button" onclick="putUp(pageNo,isUp)">Shelves</button>' +
                        '                         <button type="button" onclick="deleteProduct(pageNo,isUp)">Delete</button>';
                }
                $("#smallMenu").append(smallMenu);

                $("#productList").empty();
                var productList = '';
                for (var i = 0; i < data.data.length; i++) {
                    productList += '<ul class="item-list" >' +
                        '                     <li class="td td-number">' +
                        '                                      <div class="item-number item-number-margin">' +
                        '                                           <label>' +
                        '                                               <input type="checkbox" name="checkedProduct" class="qx" value=' + data.data[i].productId + '>' +
                        '                                            </label>' +
                        '                                      </div>' +
                        '                                   </li>' +
                        '                                   <li class="td td-item">' +
                        '                                        <div class="item-pic">' +
                        '                                             <a href="#" class="J_MakePoint">' +
                        '                                                 <img src="' + data.data[i].url + '" class="itempic J_ItemImg">' +
                        '                                             </a>' +
                        '                                         </div>' +
                        '                                         <div class="item-info">' +
                        '                                         <div class="item-basic-info">' +
                        '                                               <a href="#">' +
                        '                                                  <p>' + data.data[i].productName + '</p>' +
                        '                                                </a>' +
                        '                                          </div>' +
                        '                                           </div>' +
                        '                                     </li>' +
                        '                                     <li class="td td-price">' +
                        '                                          <div class="item-price">' +
                        '                                               <p>' + data.data[i].productUnit + '</p>' +
                        '                                          </div>' +
                        '                                     </li>' +
                        '                                     <li class="td td-amount">' +
                        '                                           <div class="item-inner">' +
                        '                                               ' + data.data[i].productStatisticsDto.productStock + '' +
                        '                                            </div>' +
                        '                                     </li>' +
                        '                                     <li class="td td-amount">' +
                        '                                         <div class="item-inner">' +
                        '                                              ' + data.data[i].productStatisticsDto.dealNumber + '' +
                        '                                         </div>' +
                        '                                      </li>';
                    if (data.data[i].isUpper == 1) {
                        productList += '<li class="td td-price">' +
                            '                                           <div class="item-price">' +
                            '                                           <p>' + data.data[i].createTimeString + '</p>' +
                            '                                           <p style="color:#40ADFB;line-height: 30px; ">Under sale</p>' +
                            '                                           </div>' +
                            '                                       </li>' +
                            '                                       <li class="td td-operation">' +
                            '                                            <div class="item-operation">' +
                            '                                                 <p onclick="getProductInfo(' + data.data[i].productId + ')">Product details</p>' +
                            '                                                 <p style="line-height: 30px;" onclick="getDownNow(' + data.data[i].productId + ',pageNo,isUp)">Get off the shelf now</p>' +
                            '                                            </div>' +
                            '                                        </li>';
                    } else {
                        productList += '<li class="td td-price">' +
                            '                                           <div class="item-price">' +
                            '                                                <p>' + data.data[i].createTimeString + '</p>' +
                            '                                                <p style="color:#40ADFB;line-height: 30px; ">In the warehouse</p>' +
                            '                                           </div>' +
                            '                                        </li>' +
                            '                                        <li class="td td-operation">' +
                            '                                            <div class="item-operation">' +
                            '                                                 <p onclick="getProductInfo(' + data.data[i].productId + ')">Product details</p>' +
                            '                                                 <p style="line-height: 30px;"onclick="putUpNow(' + data.data[i].productId + ',pageNo,isUp)">Get on the shelf now</p>' +
                            '                                            </div>' +
                            '                                        </li>';
                    }
                    productList += '</ul>';
                }
                $("#productList").append(productList);

                $("#pagination").pagination(count, {   //total(一共多少条记录)不能少
                    current_page: page - 1,                  //当前页码
                    callback: PageCallback,
                    prev_text: 'Previous',
                    next_text: 'Next',
                    items_per_page: 5,             //每页显示最大条数
                    num_display_entries: 4,        //连续分页主体部分显示的分页条目数
                    num_edge_entries: 1,           //两侧显示的首尾分页的条目数
                });

            },
            error: function () {
                alert("Request sent failed");
            }
        })
    };

    //产品详情
    function getProductInfo(productId) {
        window.open('/product/toDetail?productId=' + productId, '_blank');
        /*window.location.href = "/product/detail?&productId=" + productId;*/
    }

    //立即下架
    function getDownNow(id, pageNo, isUp) {

        var check_val = [];
        check_val.push(id);
        $.ajax({
            async: false,
            cache: false,
            traditional: true,
            type: 'POST',
            data: {
                ids: check_val,
            },
            url: '/sellerCenter/getDown',
            success: function (data) {
                if (data.success) {
                    alert(data.message)
                    changeData(pageNo, isUp);
                } else {
                    alert(data.message)
                }
            },
            error: function () {
                alert("Request sent failed")
            },
        });
    };

    //立即上架
    function putUpNow(id, pageNo, isUp) {
        var check_val = [];
        check_val.push(id);
        $.ajax({
            async: false,
            cache: false,
            traditional: true,
            type: 'POST',
            data: {
                ids: check_val,
            },
            url: '/sellerCenter/putUp',
            success: function (data) {
                if (data.success) {
                    alert(data.message);
                    changeData(pageNo, isUp);
                } else {
                    alert(data.message)
                }
            },
            error: function () {
                alert("Request sent failed")
            },
        });
    };

    //下架
    function getDown(pageNo, isUp) {
        var obj = document.getElementsByName("checkedProduct");
        var check_val = [];
        for (k in obj) {
            if (obj[k].checked) {
                check_val.push(obj[k].value)
            }
        }
        $.ajax({
            async: false,
            cache: false,
            traditional: true,
            type: 'POST',
            data: {
                ids: check_val,
            },
            url: '/sellerCenter/getDown',
            success: function (data) {
                if (data.success) {
                    alert(data.message)
                    changeData(pageNo, isUp);
                } else {
                    alert(data.message)
                }
            },
            error: function () {
                alert("Request sent failed")
            },
        });
    };

    //上架
    function putUp(pageNo, isUp) {
        var obj = document.getElementsByName("checkedProduct");
        var check_val = [];
        for (k in obj) {
            if (obj[k].checked) {
                check_val.push(obj[k].value)
            }
        }
        $.ajax({
            async: false,
            cache: false,
            traditional: true,
            type: 'POST',
            data: {
                ids: check_val,
            },
            url: '/sellerCenter/putUp',
            success: function (data) {
                if (data.success) {
                    alert(data.message);
                    changeData(pageNo, isUp);
                } else {
                    alert(data.message)
                }
            },
            error: function () {
                alert("Request sent failed")
            },
        });
    };

    //删除
    function deleteProduct(pageNo, isUp) {
        var obj = document.getElementsByName("checkedProduct");
        var check_val = [];
        for (k in obj) {
            if (obj[k].checked) {
                check_val.push(obj[k].value)
            }
        }
        $.ajax({
            async: false,
            cache: false,
            traditional: true,
            type: 'POST',
            data: {
                ids: check_val,
            },
            url: '/sellerCenter/deleteProduct',
            success: function (data) {
                if (data.success) {
                    alert(data.message);
                    changeData(pageNo, isUp);
                } else {
                    alert(data.message)
                }
            },
            error: function () {
                alert("Request sent failed")
            },
        });
    };
</script>
</@override>
<@extends name="/common/layout/base.sellerCenter.html"/>