<@override name="title">
字典管理
</@override>

<@override name="css">
<style>

</style>
</@override>
<@override name="body">
<body>
<div class="layui-form">
    <h5>搜索条件</h5>
    <div class="demoTable">
        <label class="layui-inline">字典名</label>
        <div class="layui-inline">
            <input class="layui-input" name="dictKDescription" id="dictKDescription" autocomplete="off">
        </div>
        <label class="layui-inline">描述</label>
        <div class="layui-inline">
            <input class="layui-input" name="dictVDescription" id="dictVDescription" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>
</div>
<h5>字典管理</h5>
<table class="layui-hide" id="dictList" lay-filter="dictList"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="newDict">新增</button>
    </div>
</script>
</@override>

<@override name="js">
<script type="text/javascript">
    layui.use('table', function(){
        var table = layui.table;

        // table.set({
        //     headers: {
        //         "Authorization": getCookie("token")
        //     }
        // });

        table.render({
            elem: '#dictList'
            ,id:"dictList"
            ,url: 'getDictList'
            ,toolbar: '#toolbarDemo'
            ,title: '短信记录表'
            //,method: 'post' //如果无需自定义HTTP类型，可不加该参数
            //,request: {} //如果无需自定义请求参数，可不加该参数
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页

            }
            ,cols: [[
                {type: 'numbers'}
                ,{field:'dictKDescription',  title: '字典描述'}
                ,{field:'dictKey',  title: '字典'}
                ,{field:'dictVDescription', title: '字典值描述' }
                ,{field:'dictValue',  title: '字典值'}
                ,{field:'dictSort',  title: '排序'}
                , {field: 'button', title: '操作',
                    templet: function (e) {
                        var html = '<a class="layui-btn layui-btn-container layui-btn-xs" onclick="updateDict('+e.dictId+')">修改</a >';
                        html += '<a class="layui-btn layui-btn-container layui-btn-xs layui-btn-danger" onclick="deleteDict('+e.dictId+')">删除</a >';
                        return html;
                    }}
            ]]
        });

        //重载表格
        var $ = layui.$, active = {
            reload: function(){
                //执行重载
                table.reload('dictList', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        dictKDescription: $('#dictKDescription').val()
                        ,dictVDescription:$('#dictVDescription').val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //头工具栏事件
        table.on('toolbar(dictList)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'newDict':
                    layer.open({
                        type:2,
                        area:["50%","60%"],
                        title:"新增字典",
                        shadeClose:true,
                        content:"newDict"
                    });
                    break;
            };
        });
    });

    function updateDict(id) {
        layer.open({
            type:2,
            area:["50%","60%"],
            title:"修改字典",
            shadeClose:true,
            content:"update/"+id
        });
    }

    function deleteDict(id){
        $.ajax({
            url: "delDictById/"+id,
            type: "get",
            dataType:"json",
            // beforeSend: function (XMLHttpRequest) {
            //     XMLHttpRequest.setRequestHeader("Authorization", getCookie("token"));
            // },
            success: function (data) {
                if(data.code == 0){
                    // layer.open({
                    //     type: 1
                    //     ,area:["20%","40%"]
                    //     ,content:'<div>'+ data.msg +'</div>'
                    //     ,btn: '关闭全部'
                    //     ,btnAlign: 'c' //按钮居中
                    //     ,shade: 0 //不显示遮罩
                    //     ,yes: function(){
                    //         layer.closeAll();
                    //         window.location.href = 'toList' ;
                    //     }
                    // });
                    layer.msg(data.msg,{},function (e) {
                        window.location.href = 'toList' ;
                    });
                }else{
                    layer.msg(data.msg);
                }
            }
        });
        return false ;
    }

</script>
</@override>

<@extends name="/common/layout/base.html"/>