@charset "utf-8";
/* CSS Document */
.am-tabs_margin{
	margin: 0px;
}
#calendar{
	background-color: #fff;
	width: 200px;
	height: 240px;
	overflow: hidden;
	text-align: center;
}
.calendar_title{
	background-color: #F58022;
	padding: 10px 0;
	color: #fff;
}
.data{
	color: #F58022;
	font-size: 90px;
	font-weight: 400;
	margin-top: 10px;
	
}
.yearMon{
	margin-top: 10px;
}
.week{
	margin-top: 10px;
}