<@override name="title">
新增//没有作用的标题真正起作用的在发起请求页面已经被设置
</@override>

<@override name="css">
<style>

</style>
</@override>
<@override name="body">
<h5>反馈内容</h5>
<div class="layui-inline">
    <span class="layui-show-md-block" id="sugContent">${suggestDto.sugContent}</span>
    <input type="hidden" id="sugId" value="${suggestDto.sugId}">
</div>
<h5>回复内容</h5>
<form>
<div class="layui-form" >
    <div class="layui-inline">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-inline">
            <input type="tel" name="renContent" id="renContent" lay-verify="required" placeholder="输入回复内容" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn site-demo-layedit" lay-submit data-type="content" type="button" onclick="submitForm()">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</div>
</form>
</@override>

<@override name="js">
<script>
    layui.use('table', function(){
        var table = layui.table;
    });

    function submitForm(){
        var data = '{"renContent":"'+$('#renContent').val()+'","userId":"'+0+'","sugId":'+$('#sugId').val()+'}' ;
        $.ajax({
            url: "addReturn",
            data:  data,
            type: "post",
            contentType: "application/json",
            success: function (data) {
                if(data.code == 0){
                    layer.open({
                        type: 1
                        ,area:["20%","40%"]
                        ,content:'<div>'+ data.msg +'</div>'
                        ,btn: '关闭全部'
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0 //不显示遮罩
                        ,yes: function(){
                            layer.closeAll();
                            window.parent.location.href = '/admin/suggest/toList' ;
                        }
                    });
                }else{
                    alert(data.msg);
                }
            }
        });
        return false ;
    }
</script>
</@override>

<@extends name="/common/layout/base.new.html"/>