
    <style>
        *{margin: 0;padding: 0;border: 0;list-style: none;}
        a{
            text-decoration: none;
        }
        ul li{
            list-style: none;
        }
        #foot{
            width: 100%;
            height: 310px;
            background: #333;
            overflow: hidden;
            /*margin-top: 20px;*/
        }

        .foot_in{
            width: 1200px;
            height: 180px;
            margin: 0 auto;
            margin-top: 20px;

        }
        .foot_in .colu1{
            width: 188px;
            float: left;
            color: #eee;
            font-size: 16px;
            line-height: 32px;

        }

        .colu1 a{
            color: #999;
            font-size: 14px;
        }

        .foot_in .colu2{
            width: 280px;
            float: left;
        }
        .colu2 h3{
            font-size: 24px;
            text-align: left;
            color: #F5F5F5;
        }
        .colu2 p{
            font-size: 12px;
            color: #999999;
            text-align: left;
            line-height: 30px;

        }
        .colu2 div{
            width:140px;
            height:45px;
            background:#F5F5F5;
            text-align: center;
            margin-top: 26px;

        }
        .colu2 div a{
            line-height: 48px;
            color:#333333;
            font-size: 14px;
            display: block;
            margin-right: 20px;

        }
        .colu2 div span{
            display: block;
            width: 45px;
            height: 45px;
            background:url(../../../static/images/sale/CustomerService.png) no-repeat center right;
            float: left;


        }
        .colu3{
            float: left;
            width: 150px;
            margin-right: 28px;

        }

        .colu3 div{
            width:140px;
            height:45px;
            border:1px solid rgba(107,107,107,1);

            text-align: center;
        }
        .colu3 div a{
            line-height: 45px;
            color: #999;
            font-size: 14px;
            display: inline-block;
        }
        .colu3 .blog{
            margin-top: 10px;
        }

        .about ul{
            width: 1200px;
            margin: 0 auto;
            height: 34px;
        }
        .about ul li{
            float: left;
        }
        .about li a{
            color: #ccc;
            font-size: 14px;
            letter-spacing: 0.5px;
            margin-right: 6px;
        }

        .company{
            width: 1200px;
            margin: 0 auto;
            font-size: 14px;
            color: #ccc;
        }

        .wechat{
            width: 30px;
            height: 30px;
            background: url(../../../static/images/sale/QRCode.jpg) no-repeat 10px center;

        }

        .blog{
            width: 30px;
            height: 30px;
            background: url(../../../static/images/sale/QRCode.jpg) no-repeat 10px center;

        }

        .sear input {
            vertical-align: baseline;
        }
        .columpic{
            width: 90px;
            height: 90px;
            background: url(../../../static/images/sale/QRCode.jpg);
            transform: scale(1.15);
            display: inline-block;
            margin-top: 8px;
        }


    </style>

<div id="foot">
    <div class="foot_in">
        <div class="colu1">
            <dl>
                <dt>新手上路</dt>
                <dd><a href="/user/toRegister">免费注册</a></dd>
                <dd><a href="/user/toLogin">买家入口</a></dd>
                <dd><a href="/user/toLogin">卖家入口</a></dd>
            </dl>
        </div>
        <div class="colu1">
            <dl>
                <dt>采购商服务</dt>
                <dd><a href="/product/search">找产品</a></dd>
                <dd><a href="/enquiry/create">发布询价单</a></dd>
                <!--<dd><a href="javascript">招募供应商</a></dd>-->
                <dd><a href="/exhibition/toExhibition">展会专场</a></dd>
            </dl>
        </div>
        <div class="colu1">
            <dl>
                <dt>供应商商服务</dt>
                <dd><a href="javascript">发布产品</a></dd>
                <dd><a href="javascript">找采购信息</a></dd>
                <dd><a href="javascript">会员服务</a></dd>
                <dd><a href="javascript">诚信保障</a></dd>
            </dl>
        </div>
        <div class="colu2">
            <h3>400-860-0992</h3>
            <p>7x24小时客服热线（仅收市话费）</p>
            <div><span></span><a href="javascript">在线客服</a></div>
        </div>
        <div class="colu3">
            <p style="color: #f5f5f5;line-height: 40px">关注我们</p>
            <div class="wechat"><a href="javascript">官方微信</a></div>
            <div class="blog"><a href="javascript">官方微博</a></div>
        </div>
        <div class="colu3">
            <p style="color: #f5f5f5;line-height: 40px">移动端</p>
            <a href="javascript" class="columpic"></a>

        </div>
    </div>
    <!--<div class="about">-->
        <!--<ul>-->
            <!--<li><a href="javascript">关于我们 |</a></li>-->
            <!--<li><a href="javascript">联系我们 |</a></li>-->
            <!--<li><a href="javascript">客服中心 |</a></li>-->
            <!--<li><a href="javascript">代理加盟 |</a></li>-->
            <!--<li><a href="javascript">站点地图 |</a></li>-->
            <!--<li><a href="javascript">隐私策略 |</a></li>-->
            <!--<li><a href="javascript">会员协议 |</a></li>-->
            <!--<li><a href="javascript">法律声明 |</a></li>-->
            <!--<li><a href="javascript">友情链接</a></li>-->
        <!--</ul>-->
    <!--</div>-->

    <div class="company">Copyright 2015-2019 绍兴远恒互联网络科技有限公司 版权所有  浙ICP备19009440号-4  电话:0575-85025309  邮编:312000  </div>

</div>

