<!--卖家  头-->
<div id="nav">
    <div class="nav_in">
        <div class="left">
            <p>欢迎您  &nbsp;请<a href="javascript">登录</a>  &nbsp;<a href="javascript">注册会员</a></p>
        </div>
        <div class="right">

            <p class="service">客服电话：400-xxx-xxxx</p>
            <div class="order">
                <a href="#">我的订单</a>
                <span class="icon icon1"></span>
            </div>
            <div class="seller">
                <a href="#">卖家中心</a>
                <span class="icon icon1"></span>
            </div>
            <div class="shopping">
                <a href="#">购物车</a>
                <a href="#">(0)</a>
            </div>

        </div>

    </div>
</div>