<!--卖家搜索产品-->
<div id="search">
    <div class="search_in">
        <div class="logo" style="margin-top: 24px; cursor: pointer" onclick="javascript:window.open('/index');"href="#"><img src="${contextPath}/images/img/logo.png" alt=""></div>
        <div class="sear">
            <div class="tog">
                <span>产品<i class="iconfont iconxialajiantou"></i></span>
            </div>
            <input type="text" id="search_productName" placeholder="布料" class="sousuo">
            <button id ="sellerSearchProduct" type="submit" class="cont"><a href="">搜索</a></button>
        </div>
    </div>
</div>
<div id="Workbench">
    <div>卖家工作台</div>
</div>

<!--添加按下回车建实现搜索功能-->
<script type="text/javascript">
  document.onkeydown = function(e) {
    if (e.keyCode == 13) {
        document.all.sellerSearchProduct.click();
    }
}
</script>


